<div class="clip-path-loader" style="{{}}">

  {% include '@atoms/SiteTitle/SiteTitle.html.twig' with { title: pageTitle } only %}
  {% include "@assets/klimt-rodan-cover-maskA.svg" %}
  <div class="background-image" style="background-image: url('/assets/images/lady-with-hat.jpg'); background-size: cover;">
  </div>
  <div class="bottom-content">
    <div class="text">
      <h2 class="subtitle">{{subTitle}}</h2>
    </div>
  </div>
</div>
