footer.footer {
  display: flex;
  flex-flow: column;

  .footer__content {
    padding: 3rem 0;

    //@include breakpoint(medium) {
    @media screen and (min-width: 40em) {
      padding: 5rem 0;
    }
  }

  form {
    margin: 1rem 0;

    //@include breakpoint(medium) {
    @media screen and (min-width: 40em) {
      margin: 2rem 0;
    }
  }

  .footer__social {
    margin: 3rem 0 1rem 0;

    //@include breakpoint(medium) {
    @media screen and (min-width: 40em) {
      margin: 5rem 0 2rem 0;
    }

    > a {
      color: $dark-gray;
      margin-right: 1rem;
    }
  }

  .footer__navigation {
    font-size: $small-font-size;
    margin-top: auto;
    padding: 2rem 0;
    border-top: 2px solid $medium-gray;
    color: $dark-gray;
  }

  .footer-feature {

    //@include breakpoint(large) {
    @media screen and (min-width: 64em) {
      margin-bottom: 4rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    h3 {
      margin-bottom: 1rem;
    }

    p {
      font-size: $small-font-size;
    }
  }

  .menu--footer {

  }

  .copyright {
    text-align: center;
    font-family: $alternate-header-font-family !important;

    //@include breakpoint(large) {
    @media screen and (min-width: 64em) {
      text-align: right;
    }
  }

}

%menu--footer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: .25rem !important;

  //@include breakpoint(medium) {
  @media screen and (min-width: 40em) {
    justify-content: start;
    text-align: left;
    display: inline-flex;
  }

  a {
    font-family: $alternate-header-font-family !important;
    color: $dark-gray;
    padding: 0 !important;
    margin: 0 1rem;

    //@include breakpoint(medium) {
    @media screen and (min-width: 40em) {
      margin: 0 4rem 0 0;
    }
  }
}

.menu--footer {
  @extend %menu--footer;
}
