<footer class="footer">
  <div class="grid-container grid-container-padded">
    <div class="grid-x grid-margin-x footer__content">
      <div class="cell medium-6 large-4">
        <h2>We Are The Fine Arts Museum of San Francisco</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur distinctio, dolores earum, esse eveniet in inventore nemo optio soluta sunt, tempora totam! At, excepturi iusto laborum necessitatibus nesciunt veniam.</p>
        <div class="footer__social">
          <a href="#"><i class="fab fa-lg fa-facebook"></i></a>
          <a href="#"><i class="fab fa-lg fa-twitter"></i></a>
          <a href="#"><i class="fab fa-lg fa-instagram"></i></a>
          <a href="#"><i class="fab fa-lg fa-youtube"></i></a>
        </div>
        <a href="#" class="link--arrow font-bold h6">Become a member <i class="fas fa-arrow-right"></i></a>
        <form action="" id="newsletter-signup" class="">
          <label class="font-bold h6 margin-bottom-1" for="newsletter-signup--email">Sign up for our newsletter</label>
          <div class="input-group">
            <input class="input-group-field" type="text" id="newsletter-signup--email" placeholder="Enter your email">
            <div class="input-group-button">
              <input type="submit" class="button" value="Submit">
            </div>
          </div>
        </form>
      </div>
      <div class="cell medium-6 large-5 large-offset-3">
        <div class="grid-x grid-margin-x">
          <section class="cell small-6 medium-12 footer-feature">
            <div class="grid-x grid-margin-x">
              <div class="cell large-7">
                <img src="http://via.placeholder.com/400x275" alt="" class="">
              </div>
              <div class="cell large-5">
                <h3 class="separator-left">de Young Museum</h3>
                <p class="show-for-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ex laboriosam minus sunt. Distinctio est expedita omnis.</p>
              </div>
            </div>
          </section>
          <section class="cell small-6 medium-12 footer-feature">
            <div class="grid-x grid-margin-x">
              <div class="cell large-7">
                <img src="http://via.placeholder.com/400x275" alt="" class="">
              </div>
              <div class="cell large-5">
                <h3 class="separator-left">Legion of Honor</h3>
                <p class="show-for-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ex laboriosam minus sunt. Distinctio est expedita omnis.</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__navigation">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell large-6">
          <ul class="menu menu--footer">
            <li><a href="">Contact</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="cell large-6 copyright">
          © 2018 Fine Arts Museum of San Francisco
        </div>
      </div>
    </div>
  </div>
</footer>