<footer class="footer">
  <div class="grid-container grid-container-padded">
    <div class="grid-x grid-margin-x footer__content">
      <div class="cell medium-6 large-4">
        <h2>We Are The Fine Arts Museum of San Francisco</h2>
        <p>Our organization oversees two unique museums—the de Young in Golden Gate Park and the Legion of Honor in Lincoln Park—and stands as one of the most visited arts institutions in the United States.</p>
        <div class="footer__social">
          <a href="#"><i class="fab fa-lg fa-facebook"></i></a>
          <a href="#"><i class="fab fa-lg fa-twitter"></i></a>
          <a href="#"><i class="fab fa-lg fa-instagram"></i></a>
          <a href="#"><i class="fab fa-lg fa-youtube"></i></a>
        </div>
        <a href="#" class="link--arrow font-bold h6">Become a member <i class="fas fa-arrow-right"></i></a>
        <form action="" id="newsletter-signup" class="">
          <label class="font-bold h6 margin-bottom-1" for="newsletter-signup--email">Sign up for our newsletter</label>
          <div class="input-group">
            <input class="input-group-field" type="text" id="newsletter-signup--email" placeholder="Enter your email">
            <div class="input-group-button">
              <input type="submit" class="button" value="Submit">
            </div>
          </div>
        </form>
      </div>
      <div class="cell medium-6 large-5 large-offset-3">
        <div class="grid-x grid-margin-x">
          <section class="cell small-6 medium-12 footer-feature">
            <div class="grid-x grid-margin-x">
              <div class="cell large-7">
                <img src="https://via.placeholder.com/400x275" alt="" class="">
              </div>
              <div class="cell large-5">
                <h3 class="separator-left">de Young Museum</h3>
                <p class="show-for-large">
                  Golden Gate Park<br/>
                  50 Hagiwara Tea Garden Drive<br/>
                  San Francisco, CA 94118<br/>
                  Open 9:30 a.m.—5:15 p.m.<br/>
                  Tuesdays—Sundays<br/>
                  415 750-3600<br/>
                </p>
              </div>
            </div>
          </section>
          <section class="cell small-6 medium-12 footer-feature">
            <div class="grid-x grid-margin-x">
              <div class="cell large-7">
                <img src="https://via.placeholder.com/400x275" alt="" class="">
              </div>
              <div class="cell large-5">
                <h3 class="separator-left">Legion of Honor</h3>
                <p class="show-for-large">
                  Lincoln Park<br/>
                  100 34th Avenue<br/>
                  San Franciso, CA 94121<br/>
                  Open 9:30 a.m.—5:15 p.m.<br/>
                  Tuesdays—Sundays<br/>
                  415 750-3600<br/>
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__navigation">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell large-6">
          <ul class="menu menu--footer">
            <li><a href="">Contact</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="cell large-6 copyright">
          © 2018 Fine Arts Museum of San Francisco
        </div>
      </div>
    </div>
  </div>
</footer>
