/*

One-up Primary

The primary site nav with a central column.

Markup: one_up--primary.html.twig

Styleguide Layouts.one_up--primary

*/
.one_up--primary {

  &.dark {
    background-color: #000;
  }

  .grid-frame {
    height: 100vh;
  }

  > div {
    > div {
    }
  }
}
