{% import "@macros/inklude.html.twig" as inklude %}
<div class="one_up--primary fluid {{ classes }}">
  <div class="grid-x grid-margin-x">
    <div class="cell {% set cols = cols ?: 'medium-grid-10' %} {% set offset_left = offset_left ?: 'medium-offset-1' %}">
      {{ inklude.components(_context) }}
    </div>
  </div>
</div>
