<div class="one_up--primary fluid">
  <div class="grid-x grid-margin-x">
    {% block column %}
      <div class="cell medium-grid-10">
        {% include component with contents only %}
      </div>
    {% endblock %}
  </div>
</div>
