{% import "@macros/inklude.html.twig" as inklude %}
<div class="one_up--primary fluid {{ classes }}">
  <div class="grid-x grid-margin-x">
    <div class="cell {{ cols|default('medium-grid-10') }} {{ offset|default('medium-offset-1') }}">
      {{ inklude.components(_context) }}
    </div>
  </div>
</div>
