<div class="one_up--primary fluid {{ classes }}">
  <div class="grid-x grid-margin-x">
    {% block column %}
<<<<<<< Updated upstream
      <div class="columns medium-10 medium-offset-1">
=======
      <div class="cell {% set cols = cols ?: 'medium-grid-10' %} medium-offset-1">
>>>>>>> Stashed changes
        {% include component with contents only %}
      </div>
    {% endblock %}
  </div>
</div>
