%cover-page {

  position: absolute;
  @extend %fill_screen;
  overflow: hidden;

  .underlay {
    @extend %performy;
    @extend %abs;
    @extend %fill_screen;

    .bg-image {
      @extend %object-fit;
      z-index: -1;
    }
    .underlay_contents {
      z-index: 2;
      position: relative;
      @extend %fill_screen;
    }
    .headline {
      color: transparent;
      .solid {
        color: #fff;
      }
      .outline {
        // this is where anny progressive ennhancement for IE will go.
        @supports(-webkit-text-stroke: 3px #fff) {
          color: rgba(#f00, 0);
          -webkit-text-stroke: 2px #fff;
        }
      }
    }
    .content {
      color: #fff;
      text-align: center;
      padding-bottom: 3em;
      position: absolute;
      margin-left: 2em;
      margin-right: 2em;
      bottom: 3rem;
      width: calc(100% - 4rem);

      .info {
        @include font-sizes(16, 18);
        transition-property: top, opacity;
        transition-timing-function: ease-in-out;
        transition-duration: 0.675s;
        opacity: 0;
        position: relative;
        top: 4em;

        p {
          margin-bottom: 0;
        }

      }
      @include breakpoint(medium) {
        bottom: 5rem;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .down_arrow {
    transition-property: top, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.675s;
    opacity: 0;
    bottom: -5rem;
  }

  .triggered & {
    .underlay {
      .content {
        .info{
          opacity: 1;
          top: 0;
        }
      }
    }
    .down_arrow {
      opacity: 1;
      bottom: 3rem;
    }
  }

  .loaderpane {
    @extend %performy;
    @extend %fill_screen;
    position: absolute;
    top: 0;
    left: 0;
    .text {
      line-height: 0.75;
    }
  }

  .top {
    z-index: 10;
  }

  .loader {
    z-index:11;
    clip: rect(0 100vw 100vh 0);
    .text {
      color: #dedede;
      vertical-align: baseline;
      line-height: 100vh;
    }
  }

  .bg-image {
    @extend %object-fit;
    animation: kenburns--cover 4s ease-out 0.75s 1 forwards running;
  }

  .mask {
    color: red;
    width: 100%;
    height: 100vh;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw 100vh;
    background-clip: text;
    -webkit-background-clip: text;
    .text {
      vertical-align: baseline;
      line-height: 100vh;
    }
  }

  /*
   * This style will be shared with the SVG because
   * I have to replace the DOM element in Firefox.
   * Otherwise the SVG pattern will be broken.
   */
  .headline {
    display: block;
    position: absolute;
    width: 100vw;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin: 0;
    font-family: 'akzidenz-grotesk-next-pro', sans-serif;
    font-weight: bold;
    font-size: 70px;
    line-height: 100%;
    @include breakpoint(medium) {
      top: 40%;
      width: 100vw;
      font-size: 122px;
    }
    @include breakpoint(large) {
      font-size: 150px;
    }
    letter-spacing: 2px;
    text-align: center;
  }

  .subtitle {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 32px;
    top: 50%;
    @include breakpoint(medium) {
      top: 52%;
      font-size: 42px;
    }
    @include breakpoint(large) {
      font-size: 50px;
    }

  }

  .cover_loader_container {
    @extend %fill_screen;
    background-color: #fff;
    position: relative;
    z-index: 3;
    transition-property: opacity;
    transition-timing-function: ease-out;
    transition-duration: 0.7s
  }

  &.loaded {
    .loader {
      animation-name: stretch;
      animation-duration: 0.7s;
      animation-timing-function: ease-out;
      animation-direction: normal;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  &.post_loaded {
    .cover_loader_container {
      opacity: 0;
    }

    .toggle-caption {
      opacity: 1;
    }
  }

  &.initialized {
    .underlay {
      z-index: 15;
    }
    .cover_loader_container,
    .mask_loader {
      display: none;
    }
  }

  // Menu cover page style overrides.
  .off-canvas & {
    position: relative;
    min-height: auto;

    .underlay {
      position: relative;
      min-height: auto;

      .underlay_contents {
        padding: 2rem 2rem 1rem 2rem;
        min-height: auto;
      }

      .headline {
        font-size: 3rem;
        position: relative;
        left: 50%;
        transform: translate3d(-50%, 0%, 0);
      }
    }
  }

  //
  // .toggle-caption {
  //   opacity: 0;
  //   transition-property: opacity;
  //   transition-duration: 0.725s;
  //   transition-delay: 1s;
  //   transition-timing-function: ease-out;
  // }
  //
  // .caption {
  //   margin-bottom: 0;
  //
  //   figcaption {
  //     @include responsive(max-width, calc(100% - 2rem), 500px);
  //     position: absolute;
  //     z-index: 50;
  //     bottom: 5rem;
  //     right: 1rem;
  //   }
  // }
  //
  // .caption__brief {
  //   position: absolute;
  //   bottom: 3.5rem;
  //   right: 1rem;
  //   z-index: 1000;
  //   @include breakpoint(medium) {
  //     bottom: 2.5rem;
  //   }
  // }

  @extend %fullscreen-credits;
  .video_element {
    @include breakpoint(medium) {
      @include performy;
      @include object-fit;
    }
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    &.stopfade {
      opacity: 0.5;
    }
  }
  .plyr--video {
    @include breakpoint(medium) {
      @include performy;
      @include object-fit;
    }
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
  }
  .triggered & {
    display: block;
    opacity: 1em;
    .video_element,
    .plyr--video,
    .plyr--audio {
      opacity: 1 !important;
    }
    .text_content {
      top: 0;
      opacity: 1;
    }
  }
  .video_element {
    .plyr__controls,
    .plyr__control {
      display: none;
      opacity: 0;
      & > * {
          pointer-events: none;
          cursor: auto;
      }
    }
  }
}

.cover_page {
  @extend %cover-page;
}

@keyframes stretch {
  0% {
    clip: rect(0 100vw 100vh 0);
  }
  100% {
    clip: rect(0 100vw 100vh 100vw);
  }
}

@keyframes kenburns--cover {
  0% {
    transform: scale(1);
  }
  100% {
    left: 15%;
    top: -17%;
    transform: scale(1.5);
  }
}
