{% import "@molecules/cover-page/cover-page.html.twig" as do %}
<div class="cover_page">
  <div class="underlay">
    <div class="underlay_contents">
      <h1 class="headline exhibit_logo">
        {{ do.print(title) }}
      </h1>
    </div>
  </div>
</div>
