// Below is an import from the imagezoom library.
.zoomable{position:relative;overflow:hidden;pointer-events:none}
.zoomableInPlace{position:absolute}
.zoomable > .zoomed {
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity:0!important;
  position:absolute!important;
  top:auto;
  left:auto;
  right:auto;
  bottom:auto;
  margin:0 !important;
  pointer-events:none!important;
  max-height:none!important;
  max-width:none!important;
  background:#fff!important;
}
.zoomable.active > .zoomed{
  opacity: 1!important;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.zoom-image--fullbleed {
  @extend %fullscreen-credits;
  width: 100vw;
  height: 100vh;
  background-color: #f00;
  align-items: center;
  padding-top: 90px;
  @include breakpoint(large) {
    display: flex;
    visibility: visible;
  }
  .credits-wrapper {
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
  }
}

.scroll-finder {
  transition-property: opacity, bottom;
  transition-duration: 1.3s, 0.75s;
  transition-timing-function: ease, ease;
  opacity: 0;
  height: auto;
  width: 160px;
  position: absolute;
  bottom: -900px;
  left: -400rem;
  overflow: hidden;
  visibility: hidden;
  display: none;
  .finder-box {
    height: 50px;
    width: 80px;
    border: solid $white 2px;
    position: absolute;
    visibility: hidden;
  }
  .snapped.triggered & {
    display: block;
    // position: fixed;
    left: 4rem;
    z-index: 50;
    opacity: 1;
    visibility: visible;
    bottom: 20px;
    .finder-box {
      visibility: visible;
    }
  }
}
