// Below is an import from the imagezoom library.
.zoomable{position:relative;overflow:hidden;pointer-events:none}
.zoomableInPlace{position:absolute}
.zoomable > .zoomed {
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity:0!important;
  position:absolute!important;
  top:auto;
  left:auto;
  right:auto;
  bottom:auto;
  margin:0!important;
  pointer-events:none!important;
  max-height:none!important;
  max-width:none!important;
  background:#fff!important;
}
.zoomable.active > .zoomed{
  opacity:1!important;
  transition-property: opacity;
  transition-duration: 0.5s;
}

section.triggered {
  .scroll-finder {
    z-index: 99999;
    opacity: 1;
    bottom: 20px;
  }
}

.zoom-image--fullbleed {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  align-items: center;
  padding-top: 90px;
  @extend %fullscreen-credits;

  @include breakpoint(large) {
    display: flex;
  }

  /* .caption {
    margin-bottom: 0;

    figcaption {
      @include responsive(max-width, calc(100% - 2rem), 500px);
      position: absolute;
      z-index: 50;
      bottom: 3rem;
      right: 1rem;
    }
  }

  .caption__brief {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 50;
  }

  .toggle-caption,
  .toggle-caption:hover {
    color: $white;
    border-color: $white;
  }*/
}
.scroll-finder {
  transition-property: opacity, bottom;
  transition-duration: 1.3s, 0.75s;
  transition-timing-function: ease, ease;
  opacity: 0;
  height: auto;
  width: 160px;
  position: fixed;
  bottom: -160px;
  left: 65px;
  overflow: hidden;
}
.finder-box {
  height: 50px;
  width: 80px;
  border: solid $white 2px;
  position: absolute;
}
