{% set classes = "img-zoom-drag" %}
{% set style = "zoom-bleed" %}
<div class="zoom-image--fullbleed">
  {# need style classes alt width height src url type sizes#}
  {% include "@atoms/img/img.html.twig" %}
</div>
