<div class="audio-with-transcript">
  {% include "@atoms/audio_player/audio_player.html.twig" with { src: audio.src } only %}
  {% include "@atoms/transcript/transcript.html.twig" with { title: transcript.title, button_text: transcript.button_text, id: transcript.id, brief: transcript.brief, text: transcript.text } only %}
</div>
