---
layout: default
title: Styleguide
---

{% block content %}

<main>
  <section class="styleguide-section container">
    <h3 class="styleguide-title">Static Comps</h3>
      <p>These high-fidelity mockups guide the creation of the elements, components, and templates.</p>
    <ul class="styleguide-list">
    {% for comp in site.comps %}
      <li><a href="{{ site.url }}{{ comp.url }}">{{ comp.title }}</a></li>
    {% endfor %}
    </ul>
  </section>

  <section class="styleguide-section container">
    <h3 class="styleguide-title">Elements</h3>
    <p>Elements are the foundation of the system. Simply using typography and color, well designed Elements can begin to express the site's personality.</p>
    <div class="l-2up--1">
      <h4>Legion Dark</h4>
      <ul class="styleguide-list">
        {% for element in site.elements %}
          {% if element.theme == 'legion-dark' %}
          <li><a href="{{ site.url }}{{ element.url }}">{{ element.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="l-2up--2">
      <h4>Legion Light</h4>
      <ul class="styleguide-list">
        {% for element in site.elements %}
          {% if element.theme == 'legion-light' %}
          <li><a href="{{ site.url }}{{ element.url }}">{{ element.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="styleguide-section container">
    <h3 class="styleguide-title">Components</h3>
    <p>Based on the needs of the content, Components are arranged into specific layouts to create Templates.</p>
    <div class="l-2up--1">
      <h4>Legion Dark</h4>
      <ul class="styleguide-list">
      {% for component in site.components %}
        {% if component.theme == 'legion-dark' %}
          <li><a href="{{ site.url }}{{ component.url }}">{{ component.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    <div class="l-2up--2">
      <h4>Legion Light</h4>
      <ul class="styleguide-list">
      {% for component in site.components %}
        {% if component.theme == 'legion-light' %}
          <li><a href="{{ site.url }}{{ component.url }}">{{ component.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </section>

  <section class="styleguide-section container">
    <h3 class="styleguide-title">Templates</h3>
    <p>Based on the needs of the content, Components are arranged into specific layouts to create Templates.</p>
    <div class="l-2up--1">
      <h4>Legion Dark</h4>
      <!-- <ul class="styleguide-list">
        <li><a href="{{ site.url }}/home">Home Page</a></li>
      </ul> -->
    </div>
    <div class="l-2up--2">
      <h4>Legion Light</h4>
      <!-- <ul class="styleguide-list">
        <li><a href="{{ site.url }}/home">Home Page</a></li>
      </ul> -->
    </div>
  </section>
</main>

{% endblock %}
