---
layout: element
section: element
theme: legion-dark

title: Dark Icons
description: These icons are used as ctas to indicate where a user should take action.

---

<section class="styleguide-section">
  <span class="styleguide-icon--large">{% include('svg/famsf-arrow-up-lg.html') %}</span>
  <span class="styleguide-icon--small">{% include('svg/famsf-arrow-up-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon--large">{% include('svg/famsf-arrow-down-lg.html') %}</span>
  <span class="styleguide-icon--small">{% include('svg/famsf-arrow-down-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon--large">{% include('svg/famsf-info-lg.html') %}</span>
  <span class="styleguide-icon--small">{% include('svg/famsf-info-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon--large">{% include('svg/famsf-share-lg.html') %}</span>
  <span class="styleguide-icon--small">{% include('svg/famsf-share-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon--large">{% include('svg/famsf-zoom-in-lg.html') %}</span>
  <span class="styleguide-icon--small">{% include('svg/famsf-zoom-in-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon--large">{% include('svg/famsf-zoom-out-lg.html') %}</span>
  <span class="styleguide-icon--small">{% include('svg/famsf-zoom-out-sm.html') %}</span>
</section>
