---
layout: element
section: element
theme: legion-dark

title: Dark Icons
description: These icons are used as ctas to indicate where a user should take action.

---

<section class="styleguide-section">
  <span class="styleguide-icon icon--large">{% include('svg/famsf-arrow-up-lg.html') %}</span>
  <span class="styleguide-icon icon--med">{% include('svg/famsf-arrow-up-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-arrow-up-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--large">{% include('svg/famsf-arrow-down-lg.html') %}</span>
  <span class="styleguide-icon icon--med">{% include('svg/famsf-arrow-down-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-arrow-down-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--large">{% include('svg/famsf-info-lg.html') %}</span>
  <span class="styleguide-icon icon--med">{% include('svg/famsf-info-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-info-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--large">{% include('svg/famsf-share-lg.html') %}</span>
  <span class="styleguide-icon icon--med">{% include('svg/famsf-share-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-share-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--large">{% include('svg/famsf-zoom-in-lg.html') %}</span>
  <span class="styleguide-icon icon--med">{% include('svg/famsf-zoom-in-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-zoom-in-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--large">{% include('svg/famsf-play-lg.html') %}</span>
  <span class="styleguide-icon icon--med">{% include('svg/famsf-play-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-play-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--large">{% include('svg/famsf-pause-lg.html') %}</span>
  <span class="styleguide-icon icon--med">{% include('svg/famsf-pause-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-pause-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--carrot">{% include('svg/famsf-carrot-down-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--carrot">{% include('svg/famsf-carrot-up-sm.html') %}</span>
</section>
