<div class="hub-section">
  <div class="featured-story">
    <div>
    </div>
    <div class="featured-story-wrapper">
      {% include "@atoms/img/img.html.twig" with {
        classes: 'featured-story-img',
        style: 'vertical',
        src: stories.0.content__image.src,
        url: stories.0.content__image.src,
        alt: stories.0.content__image.alt
      } %}
      {% if stories.0.on_view.0|default('False') == 'True' %}
        <div class="on-view on-view-featured">On View</div>
      {% endif %}
      <div class="overlay">
        <div class="overlay__contents">
          <h1>{{ stories.0.hub_story_title }}</h1>
          {% if stories.0.hub_story_title|default('') != '' %}
            <h2>{{ stories.0.hub_story_title }}</h2>
          {% endif %}
          <div class="button-wrapper">
            {% if (stories.0.read_link|default('') != '') %}
              {{ stories.0.read_link }}
            {% endif %}
            {% if (stories.0.tickets_link|default('') != '') %}
              {{ stories.0.tickets_link }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if stories is defined %}
    <div class="stories">
      <div class="story-filter">
        <span class="filter-label">Filter:</span>
      </div>
        {% for story in stories %}
          {% include "@organisms/hub/hub__story.html.twig" with {
            image: story.content__image,
            title: story.hub_story_title,
            subtitle: story.hub_story_subtitle|default(''),
            read_link: story.read_link|default(''),
            is_on_view: story.on_view.0|default('False'),
            tags: story.tags|default('')
          } only %}
      {% endfor %}
    </div>
  {% endif %}
</div>
