%h3 {
  font-family: $alternate-header-font-family;
  font-weight: 900;

  p {
    font-size: inherit;
    line-height: inherit;
  }

  .theme--dark & {
    color: $white;
  }
}

h3,
.h3 {
  @extend %h3;
}
