<div class="top-bar__wrapper">
  <div id="top-bar" class="top-bar sticky invert">
    <div class="top-bar-left">
      <div class="menu-text">
        {% include '@atoms/logo/logo.html.twig' %}
        {% include '@atoms/tagline/tagline.html.twig' with { text: tagline|striptags } only %}
      </div>
    </div>
    <div class="top-bar-right">
      <div class="button-group hide-for-small-only">
        {% if twitter_url %}
         {% include '@atoms/button/button--icon.html.twig' with { text: 'Twitter', icon: '<i class="fab fa-twitter"></i>', href: twitter_url|striptags|trim, target: '_blank' } only %}
        {% endif %}
        {% if facebook_url %}
          {% include '@atoms/button/button--icon.html.twig' with { text: 'Facebook', icon: '<i class="fab fa-facebook-f"></i>', href: facebook_url|striptags|trim, target: '_blank' } only %}
        {% endif %}
        {% if tickets_url %}
          {% include '@atoms/button/button.html.twig' with { text: 'Buy Tickets', href: tickets_url|striptags, target: '_blank' } only %}
        {% endif %}
      </div>
      <div class="cell shrink top-bar-hamburger text-right show-for-small-only">
        <button class="hamburger" type="button" data-toggle="off-canvas"></button>
      </div>
    </div>
  </div>
</div>
