<div class="two_up--primary fluid">
  <div class="grid-x grid-margin-x">
    <div>{% include left.component with left.content only %}</div>
    <div>{% include right.component with right.content only %}</div>
  </div>
</div>
