{% import "@macros/inklude.html.twig" as inklude %}
{% set offset_left = offset_left ?: 'medium-offset-1' %}
{% set offset_right = offset_right ?: 'medium-offset-1' %}
<div class="two_up--primary fluid">
  <div class="wrapper grid-x grid-margin-x">
    <div class="cell medium-4 {{ offset_left }}">
      {{ inklude.components(components_left) }}
    </div>
    <div class="cell medium-4 {{ offset_right }}">
      {{ inklude.components(components_right) }}
    </div>
  </div>
</div>
