/**
 * @file
 * Defines the custom De Young Dark theme.
 *
 * When loaded, this file will override the base color scheme.
 */

// Override color scheme variables set in _init.scss
$black: #000;
$gray-dark: #3e3e3e;
$gray-medium: #a8abad;
$gray-light: #ececec;
$white: #fff;
$white-10: rgba($white, .1);
$white-20: rgba($white, .2);
$white-30: rgba($white, .3);
$white-60: rgba($white, .6);

// oranges
$sunshine: #ffedbd;
$sherbet: #fcb275;
$citrus: #d86c36;
$orange: #c14c2d;
$clay: #bc432f;
$rust: #bc3c2f;
$earth: #b7342a;

// red
$red: #a83223;

// blues
$blue: #72b9c1;
$blue-70: #9cced4;
$blue-40: #c7e3e6;
$blue-30: #d5eaec;
$blue-20: #e3f1f3;

// greens
$green: #005244;
$forest: #4c867c;
$sage: #b2cbc7;
$mint: #e5eeec;

// yellows
$yellow: #efe36e;
$yellow-70: #f4eb99;
$yellow-50: #f7f1b6;
$yellow-30: #faf7d3;

// teals
$seafoam: #bacdce;
$teal: #36545b;
$blue-gray: #213538;
$blue-black: #0f1616;

$background-a: $orange;
$background-b: $clay;
$background-c: $rust;
$background-d: $earth;
// $background-a: $teal;
// $background-b: $blue-gray;
// $background-c: $blue-black;
// $background-d: $black;
$pattern-a: $gray-medium;
$pattern-b: $gray-light;
$border: $blue;
$text-color: $white;
$text-color-invert: $teal;
$primary: $white;
$primary-active: $sunshine;
$secondary: $blue-70;
$tertiary: $forest;

$border: $sherbet;
$decorative-border: 2px solid $blue-70;
$decorative-border-image: null;
$rectangles-border: url('../../../imgs/deyoung-rectangles-dark.svg');
$zoom-background: $teal;
$text-shadow-color: $blue;
$hero-content-text: $gray-dark;
$hero-content-text-active: $black;

// Import the global theme styles.
@import '../../global';

// Import theme specific components
@import 'deyoung-general-bg';
@import 'deyoung-typography';
