/**
 * @file
 * Defines the custom De Young Light theme.
 *
 * When loaded, this file will override the base color scheme.
 */

// Override color scheme variables set in _init.scss
$black: #000;
$gray-dark: #3e3e3e;
$gray-medium: #a8abad;
$gray-light: #ececec;
$white: #fff;
$white-10: rgba($white, .1);
$white-20: rgba($white, .2);
$white-30: rgba($white, .3);
$white-60: rgba($white, .6);

$orange: #c14c2d;
$red: #a83223;
$blue: #72b9c1;
$blue-70: #9cced4;
$green: #005244;
$yellow: #efe36e;
$teal: #36545b;
$blue-gray: #213538;

$background-a: $white;
$background-b: $white;
$background-c: $gray-light;
$background-d: $gray-medium;
$border: $orange;
$text-color: $gray-dark;
$text-color-invert: $white;
$primary: $orange;
$primary-active: $red;
$secondary: $blue;
$tertiary: $green;

$border: $white;
$decorative-border: 2px solid $yellow;
$decorative-border-image: null;
$rectangles-border: url('../../../imgs/rectangles-dark.svg');
$zoom-background: $white;
$text-shadow-color: $gray-medium;
$hero-content-text: $gray-dark;
$hero-content-text-active: $black;

// Import the global theme styles.
@import '../../global';

// Import theme specific components
@import 'deyoung-general-bg';
@import 'deyoung-typography';
