// Primary Nav Proof of concept
%top-bar__wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}

%top-bar {
  padding: 1rem 1.5rem;
  width: 100%;
  transition: background-color .325s ease-in-out;
  font-family: $body-font-family;
  background-color: $white;
  display: flex;
  flex-flow: row nowrap;

  @include breakpoint(medium) {
    padding: 1rem
  }

  .top-bar-left,
  .top-bar-right {
    flex-basis: auto;
  }

  svg polygon,
  svg path {
    fill: $black !important;
  }

  .menu-text {
    padding: 0;
  }

  ul {
    background-color: transparent;
  }

  * {
    transition: all .5s ease-in-out;
    color: $black;
    background-color: transparent;
  }

  .button-group {
    margin-bottom: 0;
  }

  .button {
    margin-bottom: 0;
    background: $black;
    color: $white;

    &.hollow {
      color: $black;
      background: transparent;
      border: 2px solid $black;
    }
  }

  &.invert,
  .off-canvas-opened & {
    background-color: transparent;

    * {
      color: $white;
      background-color: transparent;
    }

    .button {
      background: $white;
      color: $black;

      &.hollow {
        background: transparent;
        border: 2px solid $white;
      }
    }

    svg polygon,
    svg path {
      fill: $white !important;
    }

  }
}

.top-bar__wrapper {
  @extend %top-bar__wrapper;
}

.top-bar {
  @extend %top-bar;
}
