// Primary Nav Proof of concept
.top-bar__wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}

#topBar {
  padding: 1rem;
  width: 100%;
  transition: background-color .325s ease-in-out;
  font-family: $body-font-family;
  background-color: #fff;

  svg polygon,
  svg path {
    fill: #000 !important;
  }

  .menu-text {
    padding: 0;
  }

  ul {
    background-color: transparent;
  }

  * {
    transition: all .5s ease-in-out;
    color: #000;
    background-color: transparent;
  }

  .button-group {
    margin-bottom: 0;
  }

  .button {
    margin-bottom: 0;
    background: black;
    color: white;

    &.hollow {
      color: black;
      background: transparent;
      border: 2px solid black;
    }
  }

  &.invert {
    background-color: transparent;

    * {
      color: #fff;
      background-color: transparent;
    }

    .button {
      background: white;
      color: black;

      &.hollow {
        background: transparent;
        border: 2px solid white;
      }
    }

    svg polygon,
    svg path {
      fill: #fff !important;
    }

  }
}
