<div class="top-bar__wrapper">
  <div id="topBar" class="top-bar sticky">
    <div class="top-bar-left">
      <div class="menu-text">
        <div class="logo">
          <img src="/assets/images/logo.svg" alt="INSIGHTS">
        </div>
        <div class="tagline">From the de Young and Legion of Honor</div>
      </div>
    </div>
    <div class="top-bar-right">
      <div class="button-group">
        <a href="#" class="button radius hollow icon"><i class="fab fa-twitter"></i><span class="show-for-sr">Twitter</span></a>
        <a href="#" class="button radius hollow icon"><i class="fab fa-facebook-f"></i><span class="show-for-sr">Facebook</span></a>
        <a href="#" class="button radius">Buy Tickets</a>
      </div>
    </div>
  </div>
</div>
