<div class="top-bar__wrapper">
  <div id="topBar" class="top-bar sticky">
    <div class="top-bar-left">
      <span class="menu-text">INSIGHTS <small>From the de Young and Legion of Honor</small></span>
    </div>
    <div class="top-bar-right">
      <ul class="menu menu--primary">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Buy Tickets</a></li>
      </ul>
    </div>
  </div>
</div>
