<div class="top-bar__wrapper">
  <div id="topBar" class="top-bar sticky invert">
    <div class="top-bar-left">
      <div class="menu-text">
        {% include '@atoms/logo/logo.html.twig' %}
        {% include '@atoms/tagline/tagline.html.twig' with { text: tagline } only %}
      </div>
    </div>
    <div class="top-bar-right">
      <div class="button-group hide-for-small-only">
        <a href="#" class="button hollow icon"><i class="fab fa-twitter"></i><span class="show-for-sr">Twitter</span></a>
        <a href="#" class="button hollow icon"><i class="fab fa-facebook-f"></i><span class="show-for-sr">Facebook</span></a>
        <a href="#" class="button">Buy Tickets</a>
      </div>
      <div class="cell shrink top-bar-hamburger text-right show-for-small-only">
        <button class="hamburger" type="button" data-toggle="off-canvas"></button>
      </div>
    </div>
  </div>
</div>
