<div class="insights-app off-canvas-wrapper" id="insights-app">
  {% include '@molecules/TopBar/TopBar.html.twig' with { tagline: tagline } only %}
  {% include '@molecules/ChapterNav/ChapterNav.html.twig' with { chapters: chapters } only %}
  <div class="chapters_container off-canvas-content" id="app">
    {% include '@environments/Chapters/Chapters.html.twig' with { chapters: chapters, title: title } only %}
    {% include '@molecules/Footer/Footer.html.twig' with only %}
  </div>
  <div id="fpsEl" style="z-index: 1001; color: #fff; paddign: 0.25em 0.5em; position:fixed; bottom: 0; left:0; width: 10em; background-color: #000"></div>
</div>

{% include '@molecules/off-canvas/off-canvas.html.twig' with { chapters: chapters, title: title } only %}
