<div id="insights-hub" class="off-canvas-wrapper {{ slug }}">
  {% include '@molecules/top-bar/top-bar.html.twig' with {
    tagline: '',
    tickets_url: 'https://tickets.famsf.org/events/283/list',
    facebook_url: 'https://www.facebook.com/LegionofHonor/',
    twitter_url: 'https://twitter.com/legionofhonor'
  } only %}
  <div id="app" class="chapters_container off-canvas-content" >
    {% include "@organisms/hub/hub.html.twig" with {
        index: loop.index0,
        templateMap: gatherContent.templateMap,
        stories: children
    } only %}
  </div>
</div>
{% include '@molecules/off-canvas/off-canvas.html.twig' with {
  chapters: children,
  title: story_title,
  tickets_url: tickets_url,
  sections: footer.sections,
  classes: footer.classes
} only %}
