/*
Error: File to import not found or unreadable: story/settings--artists-books.
       Load path: /Users/pamela/Sites/insights/build2/styles
        on line 2 of build2/styles/artists-books.scss

1: // Import Gauguin Theme Settings.
2: @import 'story/settings--artists-books';
3: 
4: // Import Common Files.
5: @import 'base/common';

Backtrace:
build2/styles/artists-books.scss:2
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/import_node.rb:45:in `import'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `with_base'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:209:in `each'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/exec/base.rb:50:in `parse'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/lib/sass/exec/base.rb:18:in `parse!'
/Users/pamela/.rvm/gems/ruby-2.3.0/gems/sass-3.7.2/bin/sass:13:in `<top (required)>'
/Users/pamela/.rvm/gems/ruby-2.3.0/bin/sass:23:in `load'
/Users/pamela/.rvm/gems/ruby-2.3.0/bin/sass:23:in `<main>'
/Users/pamela/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `eval'
/Users/pamela/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: story/settings--artists-books.\A        Load path: /Users/pamela/Sites/insights/build2/styles\A         on line 2 of build2/styles/artists-books.scss\A \A 1: // Import Gauguin Theme Settings.\A 2: @import 'story/settings--artists-books';\A 3: \A 4: // Import Common Files.\A 5: @import 'base/common';"; }
