/*
Inline Quotes

Inline quotes are used to reinforce a quote within the body copy. They have less emphasis than a full viewport standalone quote and can be used more frequently when necessary.

Markup: inline-quote.html.twig

Styleguide COMPONENTS.inline-quote

*/

%inline-quote {
  q {
    @extend %q;
    position: relative;
    &:before {
      position: absolute;
      display: inline-block;
      left: -1rem;
      top: 0;
      width: 1rem;
      padding: 0;
    }
  }
  cite {
    @extend %cite;
    margin-top: 1em;
  }
}

.inline-quote {
  @extend %inline-quote;
}
