.masked-loader {
  height: 100vh;
  width: 100vw;
  position: relative;

  .maskedTitle {
    width: 100vh;
    height: 100vh;
  }

  .titleMaskWrapper {
    position: relative;
    transition-property: width;
    transition-duration: 0.75s;
    transition-timing-function: ease-in-out;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 5;
  }

  .titleMaskWrapper.revealme {
    width: 100%;
  }

  .titleUnderMaskWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 5;
    z-index: 4;
  }

  .site-title-under,
  .site-title {
    color: red;
    font-size: 12em;
    letter-spacinng: 2;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
  }

  .site-title {
    position: absolute;
    white-space: nowrap;
  }

  .site-title-under {
    color: #0af;
  }

  .relative-container {
    position: relative !important;
    white-space: nowrap;
  }

  .bottom-content {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 2em;
    margin-bottom: 3em;
    .text {
      margin: 0 auto;
      max-width: 55em;
    }
  }

  .faded {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
  }
}
