.masked-loader {
  height: 100vh;
  width: 100vw;
  position: relative;
  .svg-clip {
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
  }
  .svg-clip {
    -webkit-clip-path: url(#mask);
    clip-path: url(#mask);
  }
  .bottom-content {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 2em;
    margin-bottom: 3em;
    .text {
      margin: 0 auto;
      max-width: 55em;
    }
  }
}
