<div class="masked-loader">
  <h1 class="show-for-sr">Klimt and Rodan</h1>
  {% include '@assets/masks/klimt-rodan-cover-maskA.svg' %}
  <div class="svg-clip" style="background-image: url('/assets/images/lady-with-hat.jpg');"></div>
  <div class="bottom-content">
    <div class="text">
      <h2 class="subtitle">{{pageTitle}}</h2>
    </div>
  </div>
</div>
