%hub {
  .featured-story {
    min-height: 100vh;
    .featured-story-wrapper {
      .overlay {
        position: absolute;
        top: 225px;
        left: 12.5%;
        color: white;
        width: 75%;
        z-index: 200;
      }
    }
  }
  .on-view {
    position: absolute;
    top: 30px;
    right: 35px;
    background-color: #3130A3;
    padding: 5px 10px;
    color: white;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: $alternate-header-font-family;
    font-size: 0.9em;
    line-height: 1.6em;
  }
  img.featured-story-img {
    @include object-fit;
    position: static;
    height: 100vh;
    width: 100vw;
  }
  h1 {
    font-family: $alternate-header-font-family;
    font-size: 70px;
    text-align: center;
    @include breakpoint(medium) {
      font-size: 122px;
    }
    @include breakpoint(large) {
      font-size: 150px;
    }
  }
  h2 {
    font-family: $header-font-family;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    @include breakpoint(medium) {
      font-size: 42px;
    }
  }
  .button-wrapper {
    text-align: center;
    margin-top: 55px;
    a {
      color: black;
      background-color: white;
      padding: 18px;
    }
  }
}
.hub {
  @extend %hub;
}
