<div class="hub-story">
  <div class="story-image">
    {% if is_on_view %}
      <div class="on-view on-view-story">On View</div>
    {% endif %}
    {% include "@atoms/img/img.html.twig" with {
      style: 'horizontal',
      src: image_src,
      url: image_src,
      alt: image_alt
    } only %}
  </div>
  <h3 class="story-title">{{ title }}</h3>
  {% if subtitle is not empty %}
    <span class="story-subtitle">{{ subtitle }}</span>
  {% endif %}
  {% if read_link is not empty %}
    {% include "@atoms/button/button.html.twig" with {
      href: read_link,
      text: 'Read',
      target: '_blank',
      class: 'tickets-story-read-more'
    } only %}
  {% endif %}
  {% if tags is not empty %}
    {% for tag in tags|split(',') %}
      <div data-tag-value="{{ tag }}"></div>
    {% endfor %}
  {% endif %}
</div>
