<div class="sharing-icons button-group">
  <a href="#" class="share--twitter button hollow icon" target="_blank" title="Share on Twitter">
    <i class="fab fa-twitter"></i><span class="show-for-sr">Twitter</span>
  </a>
  <a href="#" class="share--facebook button hollow icon" target="_blank" title="Share on Facebook">
    <i class="fab fa-facebook-f"></i><span class="show-for-sr">Facebook</span>
  </a>
</div>
