<div class="image-magnifier">
  {% include "@atoms/img/img.html.twig" with {
    class: 'magnify',
    src: magnify__image,
    url: magnify__image,
    alt: magnify__image_alt,
    style: ''
  } %}
</div>
 