<div class="slide--in-depth__intro">
  <div class="slide--in-depth__intro__image">
    {#
      This conditional is a workaround for a GC bug where asset fields where
      an asset was previously deleted, still return an array of assets including
      previously deleted items rather than just the single asset currently
      in the field.
    #}
    {% if slide__image[slide__image|length - 1].src %}
      {% set slide__image = slide__image[0] %}
    {% endif %}
    {% include "@molecules/picture/picture.html.twig" with slide__image|merge({
      style: 'square'
    }) only %}
  </div>
  <div class="grid-x slide--in-depth__intro__content">
    <div class="cell medium-6 medium-offset-4 large-8 large-offset-0">
      <div class="slide--in-depth__intro__content--top">
        <h3 class="slide--in-depth__intro__title">{{ slide__title|striptags('a', 'i', 'em', 'b', 'strong') }}</h3>
        <button class="slide--in-depth__intro__button">Learn More</button>
      </div>
      <div class="slide--in-depth__intro__content--bottom">
        <div class="slide--in-depth__intro__text">{{ slide__description }}</div>
        {% include "@molecules/sharing-icons/sharing-icons.html.twig" %}
      </div>
    </div>
  </div>
  {% include "@atoms/slide__icon--next/slide__icon--next.html.twig" %}
</div>
