<div class="slide--in-depth__intro">
  <div class="slide--in-depth__intro__image">
    {% include "@molecules/Picture/Picture.html.twig" with picture only %}
  </div>

  <div class="grid-x slide--in-depth__intro__content">
    <div class="cell medium-6 medium-offset-4 large-8 large-offset-0">

      <div class="slide--in-depth__intro__content--top">
        <h3 class="slide--in-depth__intro__title">{{ title }}</h3>
        <button class="slide--in-depth__intro__button">Learn More</button>
      </div>

      <div class="slide--in-depth__intro__content--bottom">
        <div class="slide--in-depth__intro__text">{{ text }}</div>
        {% include "@molecules/sharing-icons/sharing-icons.html.twig" %}
      </div>

    </div>
  </div>

  {% include "@atoms/slide__icon--next/slide__icon--next.html.twig" %}

</div>
