---
layout: pagepile
title: Styleguide
---

{% block content %}
<ul id="myMenu" style="position: fixed; left:0; top:0; z-index: 100;">
    <li data-menuanchor="firstPage" class="active"><a href="#firstPage">First section</a></li>
    <li data-menuanchor="secondPage"><a href="#secondPage">Second section</a></li>
    <li data-menuanchor="thirdPage"><a href="#thirdPage">Third section</a></li>
    <li data-menuanchor="fourthPage"><a href="#fourthPage">Fourth section</a></li>
</ul>
<main id="pagepiling">
  <section class="section pp-scrollable" id="firstPage" style="background: #ffffff;">
    <div class="container">
      <main class="l-column">
        Some section 1
      </main>
    </div>
  </section>
  <section class="section pp-scrollable" id="secondPage" style="background: #ff0000;">
    <div class="container">
      <main class="l-column">
        <p>Lorem ipsum dolor sit amet, pri eu virtute hendrerit, pro labores debitis deserunt ei, cu ius audire reformidans. Ex timeam impedit mel, id mea veri numquam efficiantur. Duo facete bonorum abhorreant ad, pro nisl apeirian ut. In mei decore tacimates, malis accommodare his ei. Et quaeque scripserit vel.
        </p>
        <p>
        His dicam homero fabulas et, ea duo error altera honestatis, modo percipitur scripserit at eos. His te admodum praesent dissentiunt, duo id iracundia definitionem. An delectus forensibus duo. Adhuc populo percipitur ea nam. Cotidieque interpretaris vim et.
        </p>
        <p>
        Iisque suscipit mea ea, at ubique partiendo iracundia usu. Alii mollis omittantur nam ut, in eum diam solet definiebas, ea eos stet voluptatum. Eos delectus temporibus no, nam ad nulla admodum scripserit. Munere equidem te has. Duis facete et sea, ei appetere nominati consetetur mel. Eam in tation iudicabit evertitur, ea impetus antiopam sit, falli imperdiet at qui.
        </p>
        <p>
        Vim no ignota mollis disputationi, sonet graecis pri an, per in lorem viderer reprehendunt. Id tota option graecis est, per et oportere maiestatis. Sea eius augue an. Libris malorum admodum mea id.
        </p>
        <p>
        Ne eum ridens causae splendide. Eros commune suscipit ius an. Affert iudico partem eam te, id invidunt scriptorem signiferumque mei. Eu mea recteque percipitur, ut denique interesset omittantur sit, ex fugit perpetua vel. Vel soluta petentium constituam cu. Regione intellegat no mei, ne dicat consul integre vix.
        </p>
        <p>
        Ubique argumentum est cu, per ad cetero vocent civibus. Te cum simul convenire splendide, denique sapientem instructior an quo. Vix modo modus oportere ei. Ad blandit oporteat his, sint recusabo necessitatibus pro et. Ceteros democritum contentiones ex eos, id clita inciderint sit. At vel homero sententiae, ne his alterum fabulas ancillae.
        </p>
        <p>
        Nam dicit intellegat ut. Eam erat sale eu, at pro odio ponderum, mel et eius erroribus voluptaria. Ut libris maluisset adversarium ius, tamquam laoreet reformidans has at. Nostrud quaestio et mel. Vis an eius nostrum scribentur. Te movet impedit dignissim eam, graeci aliquando complectitur ex nec.
        </p>
        <p>
        Pro ut lorem consul signiferumque, te per habeo fuisset molestie. Ut ius dignissim efficiendi, paulo democritum constituto sed in, eius ullamcorper pro ne. Ex eos fugit detraxit, duo cu timeam aliquid pericula, ferri simul scriptorem an est. Lucilius democritum duo ne, deseruisse referrentur no mei.
        </p>
        <p>
        Eam ei agam oporteat, urbanitas abhorreant nam ut. Pri et discere appareat, ferri elitr eu eam. Feugiat constituto vix ei, vide soleat mentitum ne mel, meis affert inimicus eam ei. No agam platonem assentior mel, mea quis equidem ut, pri id luptatum conceptam. Ut lobortis incorrupte quo, ex vis prompta nostrum adipisci, at vim exerci comprehensam.
        </p>
        <p>
        Diam vocibus ei his, et pro mollis principes, duo ad nullam offendit neglegentur. Eros invidunt in eos, nam case legimus explicari ea, mel te option quaerendum mediocritatem. Ad per elitr delenit omittam, ea qui vivendo docendi. Per ex simul essent, quo ut tale tollit, ex amet nulla est. Vel nisl vivendum interesset et. Vim accusam euripidis referrentur eu.
        </p>
        <p>
        Eum feugiat eruditi appetere ei, ei mei melius aliquip reprehendunt, no mea malorum molestiae liberavisse. Ne meliore evertitur sit. Impetus dolores periculis mel in, mei falli nullam eripuit cu. Pri ea impetus dolorem, nemore maiorum mandamus ex qui. An nec convenire vituperatoribus. At nec fugit dissentiunt.
        </p>
        <p>
        Debet sensibus vel ad, ut dico diceret verterem usu, mel aliquip consectetuer id. Et mei regione iracundia suscipiantur, at sed quidam consequat, ius patrioque democritum moderatius id. Mentitum recteque forensibus et per, duo populo scripta eu. Ridens minimum liberavisse mel in.
        </p>
      </main>
    </div>
  </section>
  <section class="section pp-scrollable" id="thirdPage" style="background: #00ff00;">
    <div class="container">
      <main class="l-column">
        Some section 3
      </main>
    </div>
  </section>
  <section class="section pp-scrollable" id="fourthPage" style="background: #000000;">
    <div class="container">
      <footer class="l-column" style="color: white; position: absolute; bottom: 0;">
        what happens with the footer?
      </footer>
    </div>

  </section>
</main>


{% endblock %}
