%inline-image-zoom-wrapper {
  position: relative;

  .zoom-caption {
    position: absolute;

    .inline-caption-content {
      z-index: 1;
      position: relative;
      top: -39px;
      width: 330px;
      background-color: rgba($white, .8);
      padding: 2rem;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .50);
    }
  }
}

.inline-image-zoom-wrapper {
  @extend %inline-image-zoom-wrapper;
}
