%inline-image-zoom-wrapper {
  position: relative;
  .zoom-caption {
    position: absolute;
    .inline-caption-content {
      z-index: 1;
      position: relative;
      top: -55px;
      left: 40px;
      width: 330px;
      background-color: $white;
      padding: 25px;
      box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
    }
    .inline-caption-heading {
      font-size: 1.5em;
      display: block;
    }
  }
}

.inline-image-zoom-wrapper {
  @extend %inline-image-zoom-wrapper;
}
