<div class="zoom-image--inline--mobile owl-theme owl-carousel">
  {% for image in mobile_images %}
    <div class="zoom-image-mobile">
      <div class="zoom-img-mobile-wrapper">
        {% include "@atoms/img/img.html.twig" with {
          style: 'full-screen',
          url: image.marker_mobile__image.src,
          src: image.marker_mobile__image.src,
         alt: image.marker_mobile__image.alt
       } only %}
      </div>
      <div class="zoom-image-mobile-text">
        <h2>{{ image.marker_mobile__heading|striptags }}</h2>
        <p>{{ image.marker_mobile__description|striptags }}</p>
      </div>
    </div>
  {% endfor %}
</div>
