{#
  Usage Example:
  - components:
  - template: "@layouts/two_up--even_cols/two_up--even_cols.html.twig"
    left:
      components:
      - template: "@molecules/zoom-image--inline/zoom-image--inline.html.twig"
        id:
        captions:
        - xcoord: "10"
          ycoord: "10"
          heading_text: "Lorem Ipsum"
          body_text: "Detail of La prose du Transsibérien et de la Petite Jehanne de France by Sonia Delaunay-Terk and Blaise Cendrars."
        - xcoord: "50"
          ycoord: "50"
          heading_text: "DJ Khaled"
          body_text: "Detail of La prose du Transsibérien et de la Petite Jehanne de France by Sonia Delaunay-Terk and Blaise Cendrars."
        picture:
          url: https://live-famsf-insights.pantheonsite.io/sites/default/files/laprose/2_la-prose-book-closed.jpg
          alt: Detail of La prose du Transsibérien et de la Petite Jehanne de France by Sonia Delaunay-Terk and Blaise Cendrars
          style: vertical
#}
<div class="zoom-image--inline">
  <div class="inline-image-zoom-wrapper">
      {% if children|length > 0 %}
        {% for caption in children %}
          {% if ',' in caption.marker__location and caption.marker__location|length > 2 %}
            {% set x = caption.marker__location|split(',')[0]|trim %}
            {% set y = caption.marker__location|split(',')[1]|trim %}
            {% include '@molecules/zoom-caption/zoom-caption.html.twig' with {
              heading_text: caption.title,
              body_text: caption.marker__description,
              xcoord: x,
              ycoord: y
            } only %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if content__image.src %}
        {% include "@molecules/picture/picture--captioned.html.twig" with {
          picture: content__image,
          caption: {
            text: caption__text,
            brief: caption__brief,
            id: id
          }
        }  only %}
      {% else %}
        {% include "@molecules/picture/picture--captioned.html.twig" with {
          picture: content__image[content__image|length - 1],
          caption: {
            text: caption__text,
            brief: caption__brief,
            id: id
          }
        } only %}
      {% endif %}
  </div>
</div>
