<div class="zoom-image--inline">
  {% include '@molecules/zoom-image--inline/zoom-image--inline--mobile.html.twig' with {
    mobile_images: mobile_images
  } only %}
  <div class="inline-image-zoom-wrapper">
      {% for caption in captions %}
        {% include '@molecules/zoom-caption/zoom-caption.html.twig' with {
          heading_text: caption.heading_text,
          body_text: caption.body_text,
          xcoord: caption.xcoord,
          ycoord: caption.ycoord
        } only %}
      {% endfor %}
      {% include "@molecules/picture/picture.html.twig" with picture only %}
  </div>
</div>
