<div class="zoom-image--inline--mobile owl-theme owl-carousel">
  {% for image in mobile_images %}
    <div class="zoom-image-mobile">
        <div class="zoom-img-mobile-wrapper">
            {% include "@atoms/img/img.html.twig" with {
              style: 'full-screen',
              url: image.src,
              src: image.src,
              alt: image.alt
            } only %}
        </div>
        <div class="zoom-image-mobile-text">
          <h2>{{ image.heading_text }}</h2>
          {{ image.body_text }}
        </div>
    </div>
  {% endfor %}
</div>
