{% import "@macros/inklude.html.twig" as inklude %}
<div class="modal reveal {{ full_screen ? 'full-screen' }} {{ class }}" id="{{ id }}" data-reveal>
  {{ inklude.components(_context) }}
  {% include "@atoms/modal__close-button/modal__close-button.html.twig" %}
</div>
