<div class="text-center margin-3">
  {% include "@atoms/modal__open-button/modal__open-button.html.twig" with { id:id, text:modal_button_text } only %}
</div>
{% include "@molecules/modal/modal.html.twig" %}
