%standalone-quote__icon {
  svg {
    max-width: 100%;
    width: 15rem;
    height: auto;
  }

  path#quote {
    fill: $primary-color;
  }
  path#line {
    stroke: $primary-color;
  }

  .theme--primary-dark & {
    path#quote,
    path#line  {
      fill: $white;
      stroke: $white;
    }
  }
}

.standalone-quote__icon {
  @extend %standalone-quote__icon;
}
