%standalone-quote__icon {
  svg {
    max-width: 100%;
    width: 15rem;
    height: auto;
  }

  path#quote {
    fill: $primary-color;
  }
  path#line {
    stroke: $primary-color;
  }
}

.standalone-quote__icon {
  @extend %standalone-quote__icon;
}
