%h4 {
  font-family: $alternate-header-font-family;
  font-weight: 900;

  p {
    font-size: inherit;
    line-height: inherit;
  }

  .theme--dark & {
    color: $white;
  }

  .theme--primary-dark & {
    color: $white;
  }
}

h4,
.h4 {
  @extend %h4;
}
