// Custom color palette:
$foundation-palette: (
  primary: #535871,
  secondary: #494d64,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37
);

// Import common settings:
@import "base/settings";
