// Custom color palette:
$foundation-palette: (
  primary: #5a5a5a,
  secondary: #8a8a8a,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37
);

// Import common settings:
@import "base/settings";
