// Custom color palette:
$foundation-palette: (
  primary: #7d7d96,
  secondary: #d8d8df,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37
);

// Import common settings:
@import "base/settings";
