// Custom color palette:
$foundation-palette: (
  primary: #854c4b,
  secondary: #dac9c9,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37
);

// Import common settings:
@import "base/settings";
