%big_type {

  font-family: $header-font-family;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;

  h2 {
    font-style: italic;
  }

  @media (min-width: 500px) {
    font-size: 2.5rem;
  }

  @media (min-width: 800px) {
    font-size: 3rem;
  }

  &.theme--dark {

    .cell:first-of-type {
      background-color: black;
    }

    p,
    h2 {
      color: #fff;
    }
  }

  .cell:first-of-type {
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 0.675s;
    transition-delay: 0.25s;
    transition-timing-function: ease-in-out;
    transform: translate3d(0, 4.5rem, 0)
  }

  .triggered & {
    .cell:first-of-type {
      opacity: 1;
      @extend %performy;
      transform: translate3d(0, 0, 0)
    }
  }
}

.big_type {
  @extend %big_type;
}
