/*
Inline Quotes

Sometimes other people say smart things, and you may want to mention those things with a quote.

Markup: quote.html.twig

Styleguide COMPONENTS.quote

*/

%quote {
  font-weight: bold;
  padding: 0 2em;

  &:before,
  &:after {
    content: '"';
    position: relative;
    display: inline-block;
    height: 1em;
    width: 1em;
  }
}

blockquote,
.quote {
  @extend %quote;
}
