%zoom-caption {
  .zoom-button-wrapper {
    position: relative;
    top: -20px;
    left: -20px;
  }
  .inline-caption-button {
    background-color: $white;
    color: $black;
    font-size: 1.6em;
    padding: 6px;
    border-radius: 100px;
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 0 10px rgba(255,255,255,0.5);
    animation: border-pulsate 4s ease-out infinite;
    @keyframes border-pulsate {
      0%   {box-shadow: 0 0 0 10px rgba(255,255,255,0.5);}
      25%   {box-shadow: 0 0 0 5px rgba(255,255,255,0.5);}
      50%  {box-shadow: 0 0 0 0 rgba(255,255,255,0.5);}
      75%   {box-shadow: 0 0 0 5px rgba(255,255,255,0.5);}
      100% {box-shadow: 0 0 0 10px rgba(255,255,255,0.5);}
    }
  }
  .inline-caption-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in;
    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
}

.zoom-caption {
  @extend %zoom-caption;
}
