%zoom-caption {
  .zoom-button-wrapper {
    position: relative;
    z-index: 2;
    top: -20px;
    left: -20px;
  }

  .inline-caption-button {
    background-color: $white;
    color: $black;
    font-size: 1.6em;
    padding: 6px;
    border-radius: 100px;
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 0 10px rgba(255,255,255,0.5);
    animation: border-pulsate 4s ease-out infinite;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    @keyframes border-pulsate {
      0%   {box-shadow: 0 0 0 10px rgba(255,255,255,0.5);}
      25%   {box-shadow: 0 0 0 5px rgba(255,255,255,0.5);}
      50%  {box-shadow: 0 0 0 0 rgba(255,255,255,0.5);}
      75%   {box-shadow: 0 0 0 5px rgba(255,255,255,0.5);}
      100% {box-shadow: 0 0 0 10px rgba(255,255,255,0.5);}
    }

    &.close {
      transform: rotate(45deg);
    }
  }

  .inline-caption-content {
    opacity: 0;
    display: none;
    transition: opacity 0.4s ease-in;

    &.show {
      display: block;
      opacity: 1;
    }
  }

  .inline-caption-heading {
    @include font-sizes(18);
    @include responsive(line-height, 30px);
    margin-bottom: 1rem;
    display: block;
  }

  .inline-caption-text {
    @include font-sizes(12);
    @include responsive(line-height, 16px);
  }
}

.zoom-caption {
  @extend %zoom-caption;
}
