@charset 'utf-8';

// Import Base Foundation Settings.
@import 'base/settings';
@import 'base/extends';
@import 'base/mixins';

// Import Foundation and Motion UI.
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

// Owl Carousel.
@import 'owl.carousel';
@import 'owl.theme.default';

// Plyr
// ==========================================================================
// Plyr styles
// https://github.com/sampotts/plyr
// TODO: Review use of BEM classnames
// ==========================================================================
@charset 'UTF-8';

@import 'plyr/src/sass/settings/breakpoints';
@import 'plyr/src/sass/settings/colors';
@import 'plyr/src/sass/settings/cosmetics';
@import 'plyr/src/sass/settings/type';
@import 'plyr/src/sass/settings/badges';
@import 'plyr/src/sass/settings/captions';
@import 'plyr/src/sass/settings/controls';
@import 'plyr/src/sass/settings/helpers';
@import 'plyr/src/sass/settings/menus';
@import 'plyr/src/sass/settings/progress';
@import 'plyr/src/sass/settings/sliders';
@import 'plyr/src/sass/settings/tooltips';
$plyr-color-main: #1aafff !default;
$plyr-color-gunmetal: #2f343d !default;
$plyr-color-fiord: #4f5b5f !default;
$plyr-color-lynch: #6b7d85 !default;
$plyr-color-heather: #b7c5cd !default;
@import 'plyr/src/sass/lib/animation';
@import 'plyr/src/sass/lib/functions';
@import 'plyr/src/sass/lib/mixins';
@import 'plyr/src/sass/base';
@import 'plyr/src/sass/components/badges';
@import 'plyr/src/sass/components/captions';
@import 'plyr/src/sass/components/control';
@import 'plyr/src/sass/components/controls';
@import 'plyr/src/sass/components/embed';
@import 'plyr/src/sass/components/menus';
@import 'plyr/src/sass/components/sliders';
@import 'plyr/src/sass/components/poster';
@import 'plyr/src/sass/components/times';
@import 'plyr/src/sass/components/tooltips';
@import 'plyr/src/sass/components/video';
@import 'plyr/src/sass/components/progress';
@import 'plyr/src/sass/components/volume';
@import 'plyr/src/sass/states/fullscreen';
@import 'plyr/src/sass/utils/animation';
@import 'plyr/src/sass/utils/hidden';


// Foundation Prototype Classes.
@include foundation-prototype-classes;

// Motion UI Classes.
@include motion-ui-transitions;
@include motion-ui-animations;

// Import Mixins.
@import 'mixins/mixins';

// Import Base Styles.
@import 'base/typography';
@import 'base/extends';

// Import Environments.
@import '../components/environments/LaProse/LaProse';
@import '../components/environments/KlimtRodin/KlimtRodin';

// Import Atoms.
@import '../components/atoms/a/a';
@import '../components/atoms/down_arrow/down_arrow';
@import '../components/atoms/big_type/big_type';
@import '../components/atoms/button/button';
@import '../components/atoms/cliff-note/cliff-note';
@import '../components/atoms/cite/cite';
@import '../components/atoms/caption/caption';
@import '../components/atoms/logo/logo';
@import '../components/atoms/q/q';
@import '../components/atoms/standalone-quote__icon/standalone-quote__icon';
@import '../components/atoms/tagline/tagline';
@import '../components/atoms/textarea/textarea';
@import '../components/atoms/commentary__icon/commentary__icon';
@import '../components/atoms/modal__close-button/modal__close-button';
@import '../components/atoms/modal__open-button/modal__open-button';
@import '../components/atoms/video--embed/video--embed';
@import '../components/atoms/slide__icon--next/slide__icon--next';
@import '../components/atoms/cta__button/cta__button';
@import '../components/atoms/hamburger/hamburger';
@import '../components/atoms/body/body';
@import '../components/atoms/h3/h3';

// Import Molecules.
@import '../components/molecules/TopBar/TopBar';
@import '../components/molecules/ChapterNav/ChapterNav';
@import '../components/molecules/CoverPage/CoverPage';
@import '../components/molecules/Footer/Footer';
@import '../components/molecules/inline-quote/inline-quote';
@import '../components/molecules/standalone-quote/standalone-quote';
@import '../components/molecules/Picture/Picture';
@import '../components/molecules/slide/slide';
@import '../components/molecules/slide--in-depth__intro/slide--in-depth__intro';
@import '../components/molecules/commentary/commentary';
@import '../components/molecules/sharing-icons/sharing-icons';
@import '../components/molecules/AmbientVideo/AmbientVideo';
@import '../components/molecules/TextArea/TextArea';
@import '../components/molecules/modal/modal';
@import '../components/molecules/chapter__title/chapter__title';
@import '../components/molecules/menu--mobile/menu--mobile';
@import '../components/molecules/off-canvas/off-canvas';

// Import Layouts.
@import '../components/layouts/one_up--primary/one_up--primary';
@import '../components/layouts/two_up--primary/two_up--primary';

// Import Organisms.
@import '../components/organisms/Page/Page';
@import '../components/organisms/horizontal-image-slider/horizontal-image-slider';
@import '../components/organisms/in-depth/in-depth';



/*
FAMSF Insights Navigation

Styleguide nav
*/



html,
body {
  padding: 0;
  margin: 0;
}
