

// This is a window that contains a zoomable image.

%zoomed,
.zoomed {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

%zoomin,
.zoomin {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.zoom-parent {
  height: 90vh; // how do we determine the height?
  width: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
}

// This is the zoomable image
.zoom-child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.zoom-detail-view {
  display: none;
  visibility: hidden;
  transition: visibility 0s, opacity 0.2s ease;
  opacity: 0;
}

.show-detail {
  display: block;
  visibility: visible;
  opacity: 1;
}

.zoom-marker-outer {
  z-index: 1;
}

.zoom-marker-inner {
  display: flex;
  display: -webkit-flex;
  background-color: transparentize($background-d, .2);
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2em;

  .icon--small {
    margin: auto;
    
  }
}

.zoom-close {
  display: inline-block;
}
.zoom-header,
.zoom-footer {
  text-align: center;
  padding: .5em;
}

.zoom-overlay-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #333;
  opacity: 0;
  z-index: 50;
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s ease;
}

.zoom--is-open {
  visibility: visible;
  opacity: .75;
}

.zoom-window {
  position: absolute;
  background: transparentize($zoom-background, .2);
  position: fixed;
  top: 1em;
  right: 1em;
  left: 1em;
  opacity: 0;
  padding: rhythm(2);
  max-height: 90vh;
  overflow-y: auto;
  z-index: 100;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  @include breakpoint($bp1) {
    top: 5vh;
    right: 5vw;
    left: 5vw;
  }
  @include breakpoint($bp2) {
    top: 10vh;
    right: 10vw;
    left: 10vw;
  }
  @include breakpoint($bp3) {
    top: 10vh;
    right: 15vw;
    left: 15vw;
  }
}

.zoom-window__content {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}

.zoom-window--is-visible {
  opacity: 1;
  visibility: visible;
}

// Hide text except for screen readers.
.zoom-marker__text {
  @extend %text-hidden;
  height: 1px;
  width: 1px;
}
