/*
Horizontal Image Slider

This is used to show a set of related images as a group.

Markup: horizontal-image-slider.html.twig

Styleguide COMPONENTS.horizontal-image-slider

*/

%horizontal-image-slider {
  padding: 0;
  background: $black;
  height: 100vh;
  display: block;
  color: $white;


  .owl-stage-outer,
  .owl-stage,
  .owl-item {
    height: 100%;
  }

  .owl-stage-outer {
    @include breakpoint(medium) {
      padding: 8rem 2rem 4rem 2rem;
    }
  }

  .item {
    height: 100%;

    .item__content {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;

      @include breakpoint(medium) {
        display: block;
      }
    }

    &.intro-slide {
      padding: 2rem;
      display: flex;
      height: 100%;

      .item__content {
        @extend %p;
        margin: auto 0;
      }

      @include breakpoint(large) {
        padding: 2rem 2rem 2rem 4rem;
        max-width: 25rem;
      }
    }
  }

  h3 {
    font-family: $alternate-header-font-family;
  }

  picture {
    margin-bottom: .5rem;
    width: 100%;

    @include breakpoint(medium) {
      width: auto;
    }

    img {
      min-width: 220px;
      max-height: 50vh;
      width: auto;
      margin: auto;

      @include breakpoint(medium) {
        width: auto;
        height: 100%;
      }
    }
  }

  .caption {
    @include breakpoint(medium) {
      position: absolute;
    }

    .toggle-caption {
      display: none;
      font-size: 15px;
      @include breakpoint(medium) {
        display: inline-block;
      }
    }
  }

  .owl-dots {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    counter-reset: dots;
  }

  .owl-dot {
    @include remove-outline();
    margin: 0 .5rem;
    color: rgba($white, .5) !important;

    &.active {
      color: $white !important;
    }

    span {
      display: none !important;
    }

    &:before {
      font-size: .75rem;
      font-family: $alternate-header-font-family;
      counter-increment: dots;
      content: "0" counter(dots);
    }
  }

  .owl-nav {
    display: none;

    @include breakpoint(medium) {
      display: block;
    }

    button {
      @include remove-outline();
      transition: all .25s ease-in-out;
      position: absolute;
      top: calc(50% - 4rem);
      color: transparent !important;
      background-image: url("../assets/images/slide__icon--next.svg") !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      width: 4rem;
      height: 2.5rem;
      opacity: 1 !important;

      &:hover {
        background-color: transparent !important;
        background-image: url("../assets/images/slide__icon--next.svg");
        background-size: contain;
        background-repeat: no-repeat;
        color: transparent;
      }

      &.disabled {
        opacity: 0 !important;
      }

      &.owl-prev {
        left: 2rem;
        transform: rotate(180deg);
      }

      &.owl-next {
        right: 2rem;
      }
    }
  }
}

// Animations.
.page {
  :not(.in-depth-slider) > .horizontal-image-slider > * {
    transition: opacity .5s ease-in-out .25s;
    opacity: 0;
  }

  &.triggered {
    :not(.in-depth-slider) > .horizontal-image-slider > * {
      opacity: 1;
    }
  }
}

.owl-carousel,
.horizontal-image-slider.owl-carousel {
  @extend %horizontal-image-slider;
}
