/*
Horizontal Image Slider

This is used to show a set of related images as a group.

Markup: horizontal-image-slider.html.twig

Styleguide COMPONENTS.horizontal-image-slider

*/

%horizontal-image-slider {
  padding: 4rem 2rem;
  background: $black;
  height: 100vh;
  display: block;
  color: $white;

  .owl-stage-outer,
  .owl-stage,
  .owl-item {
    height: 100%;
  }

  .item.intro-slide {
    padding: 2rem;
    display: flex;
    height: 100%;

    .item__content {
      margin: auto 0;
    }

    @include breakpoint(large) {
      max-height: 630px;
      padding: 2rem 2rem 2rem 4rem;
      max-width: 25rem;
    }
  }

  h3 {
    font-family: $alternate-header-font-family;
  }

  picture {
    max-height: 630px;
    width: auto;
    margin-bottom: .5rem;
  }

  .caption {
    position: absolute;
  }

  .owl-dots {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    counter-reset: dots;
  }

  .owl-dot {
    @include remove-outline();
    margin: 0 .5rem;
    color: rgba($white, .5) !important;

    &.active {
      color: $white !important;
    }

    span {
      display: none !important;
    }

    &:before {
      font-size: .75rem;
      font-family: $alternate-header-font-family;
      counter-increment: dots;
      content: "0" counter(dots);
    }
  }

  .owl-nav {
    display: none;

    @include breakpoint(medium) {
      display: block;
    }

    button {
      @include remove-outline();
      transition: all .25s ease-in-out;
      position: absolute;
      top: calc(50% - 4rem);
      color: transparent !important;
      background-image: url("../assets/images/slide__icon--next.svg") !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      width: 4rem;
      height: 2.5rem;
      opacity: 1 !important;

      &:hover {
        background-color: transparent !important;
        background-image: url("../assets/images/slide__icon--next.svg");
        background-size: contain;
        background-repeat: no-repeat;
        color: transparent;
      }

      &.disabled {
        opacity: 0 !important;
      }

      &.owl-prev {
        left: 2rem;
        transform: rotate(180deg);
      }

      &.owl-next {
        right: 2rem;
      }
    }
  }
}

.owl-carousel,
.horizontal-image-slider.owl-carousel {
  @extend %horizontal-image-slider;
}
