<div class="horizontal-image-slider owl-carousel owl-theme {{ classes }}" data-snap-id="{{ snap_id }}">
  {% for slide in slides %}
    {% include "@molecules/slide/slide.html.twig" with slide only %}
  {% endfor %}
</div>
