{#
  name: Image Comparison CTA Option C
  usage: Image Comparison CTA is used to trigger the reveal of whatever is hiding behind option A or B or C.
#}

{% block component %}

<button class="comparison__button js-comparison__button">
  <i class="icon-arrow--down js-icon-arrow--down">
  {% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
  {% include('svg/famsf-caret-down-sm.svg') %}
  {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
  {% include('svg/deyoung/famsf-caret-down-sm.svg') %}
  {% endif %}</i>
  <i class="icon-arrow--up js-icon-arrow--up" style="display:none;">
  {% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
  {% include('svg/famsf-caret-up-sm.svg') %}
  {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
  {% include('svg/deyoung/famsf-caret-up-sm.svg') %}
  {% endif %}</i>
  Option B
</button>

{% endblock %}
