{#
  name: User Dashboard
  usage: Present at all times
#}
<a href="#" class="dashboard-toggle js-dashboard-toggle js-closed button-with-icon">
  <i class="icon--med">
  {% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
  {% include('svg/famsf-hamburger-md.svg') %}
  {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
  {% include('svg/deyoung/famsf-hamburger-md.svg') %}
  {% endif %}</i>
  <i class="icon--small">
  {% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
  {% include('svg/famsf-hamburger-sm.svg') %}
  {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
  {% include('svg/deyoung/famsf-hamburger-sm.svg') %}
  {% endif %}</i>
</a>
<div class="dashboard js-dashboard js-closed">
  <nav>
    <div class="dashboard-header">
      <div class="container">
        <div class="l-1up">
          <a href="#" class="dashboard-close js-dashboard-close button-with-icon">
            <div>Close</div>
            <i class="icon--med">
            {% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
            {% include('svg/famsf-close-md.svg') %}
            {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
            {% include('svg/deyoung/famsf-close-md.svg') %}
            {% endif %}</i>
            <i class="icon--small">
            {% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
            {% include('svg/famsf-close-sm.svg') %}
            {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
            {% include('svg/deyoung/famsf-close-sm.svg') %}
            {% endif %}</i>
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="l-1up">
        <ul class="dashboard__nav-list" id="myMenu">
          <li class="dashboard__nav-item active" data-menuanchor="Title"><a href="#Title">Start</a></li>
          <li class="dashboard__nav-item" data-menuanchor="introduction"><a href="#introduction">Introduction</a></li>
          <li class="dashboard__nav-item" data-menuanchor="contending-with-convention"><a href="#contending-with-convention">Contending with Convention</a></li>
          <li class="dashboard__nav-item" data-menuanchor="see-the-forest-through-the-trees"><a href="#see-the-forest-through-the-trees">See the Forest For the Trees</a></li>
          <li class="dashboard__nav-item" data-menuanchor="ambition-and-risk"><a href="#ambition-and-risk">Ambition and Risk</a></li>
          <li class="dashboard__nav-item" data-menuanchor="paris-modernity-and-leisure"><a href="#paris-modernity-and-leisure">Paris: Modernity and Leisure</a></li>
          <li class="dashboard__nav-item" data-menuanchor="monet-and-the-sea"><a href="#monet-and-the-sea">Monet and the Sea</a></li>
          <li class="dashboard__nav-item" data-menuanchor="camille-monet-the-known-and-the-unknown"><a href="#camille-monet-the-known-and-the-unknown">Camille Monet: The Known and the Unknown</a></li>
          <li class="dashboard__nav-item" data-menuanchor="political-unrest"><a href="#political-unrest">Political Unrest</a></li>
          <li class="dashboard__nav-item" data-menuanchor="training-your-eye-color"><a href="#training-your-eye-color">Training Your Eye: Color</a></li>
          <li class="dashboard__nav-item" data-menuanchor="training-your-eye-composition"><a href="#training-your-eye-composition">Training your Eye: Composition</a></li>
          <li class="dashboard__nav-item" data-menuanchor="observing-nature"><a href="#observing-nature">Observing Nature</a></li>
          <li class="dashboard__nav-item" data-menuanchor="exhibit-information"><a href="#exhibit-information">Exhibition Information</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="dashboard-section">
    <div class="container">
      <div class="l-2up">
        <a class="footer-link" href="https://shop.famsf.org/collections/monet-the-early-years/books-media">
          <img data-src="{{ site.url }}/assets/imgs/monet-spread.jpg" alt="Monet: The Early Years Exhibition Catalogue">
          <em>Monet: The Early Years</em> Exhibition Catalogue and Pictorial.
        </a>
      </div>
      <div class="l-2up">
        <a class="color-block-button--full" href="https://tickets.famsf.org/events/283/detail/5849f9d058ccc4722edbce35">Non-member Tickets</a>
        <a class="color-block-button--full" href="https://tickets.famsf.org/events/283/detail/583e2a2704907371a3bbbd58">Member Tickets</a>
      </div>
    </div>
  </section>

</div>
<div class="dashboard-overlay-background js-dashboard-overlay-background" style="display: none;"></div>
