{#
  name: User Dashboard
  usage: Present at all times
#}
<a href="#" class="dashboard-toggle js-dashboard-toggle js-closed button-with-icon">
  <i class="icon--med">{% include('svg/famsf-caret-left-md.html') %}</i>
  <i class="icon--small">{% include('svg/famsf-caret-left-sm.html') %}</i>
  <div>Explore</div>
</a>
<div class="dashboard js-dashboard js-closed">
  <nav>
    <div class="dashboard-header">
      <div class="container">
        <div class="l-1up">
          <a href="#" class="dashboard-close js-dashboard-close button-with-icon">
            <div>Close</div>
            <i class="icon--med">{% include('svg/famsf-caret-right-md.html') %}</i>
            <i class="icon--small">{% include('svg/famsf-caret-right-sm.html') %}</i>
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="l-1up">
        <ul class="dashboard__nav-list" id="myMenu">
          <li class="dashboard__nav-item active" data-menuanchor="Title"><a href="#Title">Start</a></li>
          <li class="dashboard__nav-item" data-menuanchor="introduction"><a href="#introduction">Introduction</a></li>
          <li class="dashboard__nav-item" data-menuanchor="contending-with-convention"><a href="#contending-with-convention">Contending with Convention</a></li>
          <li class="dashboard__nav-item" data-menuanchor="see-the-forest-through-the-trees"><a href="#see-the-forest-through-the-trees">See the Forest Through the Trees</a></li>
          <li class="dashboard__nav-item" data-menuanchor="ambition-and-risk"><a href="#ambition-and-risk">Ambition and Risk</a></li>
          <li class="dashboard__nav-item" data-menuanchor="paris-modernity-and-leisure"><a href="#paris-modernity-and-leisure">Paris: Modernity and Leisure</a></li>
          <li class="dashboard__nav-item" data-menuanchor="monet-and-the-sea"><a href="#monet-and-the-sea">Monet and the Sea</a></li>
          <li class="dashboard__nav-item" data-menuanchor="camille-monet-the-known-and-the-unknown"><a href="#camille-monet-the-known-and-the-unknown">Camille Monet: The Known and the Unknown</a></li>
          <li class="dashboard__nav-item" data-menuanchor="political-unrest"><a href="#political-unrest">Political Unrest</a></li>
          <li class="dashboard__nav-item" data-menuanchor="training-your-eye-color"><a href="#training-your-eye-color">Training Your Eye: Color</a></li>
          <li class="dashboard__nav-item" data-menuanchor="training-your-eye-composition"><a href="#training-your-eye-composition">Training your Eye: Composition</a></li>
          <li class="dashboard__nav-item" data-menuanchor="observing-nature"><a href="#observing-nature">Observing Nature</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="dashboard-section">
    <div class="container">
      <div class="l-2up">
        <a href="https://shop.famsf.org/collections/monet-the-early-years">
          <img src="{{ site.url }}/assets/imgs/Monet-collection.jpg" alt="#">
          Monet Exhibition Store Boutique
        </a>
      </div>
      <div class="l-2up">
        <a href="https://shop.famsf.org/collections/monet-the-early-years/products/monet-the-early-years-hc">
          <img src="{{ site.url }}/assets/imgs/monet-spread.jpg" alt="#">
          Monet: The Early Years Exhibition Catalogue
        </a>
      </div>
    </div>
  </section>
    
</div>
<div class="dashboard-overlay-background js-dashboard-overlay-background" style="display: none;"></div>
