<section class="js-section pp-scrollable footer" id="footer">
  <footer class="card-section">
    <div class="container">
      <div class="l-4up">
        <article class="footer-section">
          <h3 class="footer-section__title">Tickets</h3>
          <img src="{{site.url}}/assets/imgs/footer/14_Monet_luncheon_Art-Resource--small.png" alt="Needs Alt Text" />
          <a class="color-block-button--full" href="https://tickets.famsf.org/events/283/detail/5849f9d058ccc4722edbce35">Nonmember Tickets</a>
          <a class="color-block-button--full" href="https://tickets.famsf.org/events/283/detail/583e2a2704907371a3bbbd58">Member Tickets</a>
        </article>
      </div>

      <div class="l-4up">
        <article class="footer-section">
          <h3 class="footer-section__title">Become a Member</h3>
          <p>Join or Renew your Membership.</p>
          <a href="http://www.famsf.org/join"><img src="http://placehold.it/320x180" alt="Join or Renew your Membership" /></a>
          <a class="color-block-button--full" href="http://www.famsf.org/join">Become a Member</a>
        </article>
      </div>

      <div class="l-4up">
        <article class="footer-section">
          <h3 class="footer-section__title">Plan your Visit</h3>
          <a href="https://legionofhonor.famsf.org/visit-us "><img src="http://placehold.it/320x180" alt="Plan your Visit" /></a>
          <a class="color-block-button--full" href="https://legionofhonor.famsf.org/visit-us ">Plan your Visit</a>
        </article>
      </div>

      <div class="l-4up">
        <article class="footer-section">
          <h3 class="footer-section__title">Tours</h3>
          <h4>Audio Tours</h4>
          <a href="#"><img src="http://placehold.it/320x180" alt="Audio Tours" /></a>
          <p>Monet: The Early Years Audio Tour & App. <a href="#">Currently available on iOS and Android.</a></p>

          <h4>Guided Tours</h4>
          <img src="http://placehold.it/320x180" alt="Guided Tours" />
          <a class="color-block-button" href="https://legionofhonor.famsf.org/legion/visiting/tours ">Docent Tours</a>
          <a class="color-block-button" href="https://legionofhonor.famsf.org/legion/visiting/group-visits">Private Tours</a>
        </article>
      </div>

      <div class="l-4up">
        <article class="footer-section">
          <h3 class="footer-section__title">Sign up for our newsletter</h3>
          <a href="#"><img src="http://placehold.it/320x180" alt="Sign up for our Newsletter" /></a>
          <a class="color-block-button--full" href="http://famsf.us4.list-manage1.com/subscribe?u=d7a49f337e55b897015517194&id=9757c5111b">Sign Up for our Newsletter</a>
        </article>
      </div>

      <div class="l-4up">
        <article class="footer-section">
          <h3 class="footer-section__title">Events related to <i>Monet: The Early Years</i></h3>
          <a class="color-block-button--full" href="https://legionofhonor.famsf.org/calendar">Event Calendar</a>
        </article>
      </div>

      <div class="l-4up">
        <article class="footer-section">
          <h3 class="footer-section__title">More about the Exhibition</h3>
          <a href="#"><img src="{{site.url}}/assets/imgs/footer/20_Magpie_Art-Resource-small.png" alt="Pressroom" /></a>
          <a class="color-block-button--full" href="https://www.famsf.org/press-room/monet-early-years ">Pressroom</a>
        </article>
      </div>
    </div>
    <div class="container">

      <div class="l-2up--1">
        <h3 class="footer-section__title">Visiting</h3>
        <h4>Legion of Honor </h4>
        <p>Lincoln Park, 100 34th Avenue, San Francisco<br />Open 9:30 a.m.– 5:15 p.m.<br />Tuesdays–Sundays.<br />Open select holidays; closed most Mondays.<br />415 750-3600</p>

        <p>
          <a href="https://www.famsf.org/">Fine Arts Museums of San Francisco</a>
          <br />
          <a href="https://deyoung.famsf.org/">de Young</a>
          <br />
          <a href="https://legionofhonor.famsf.org/">Legion of Honor</a>
        </p>

        <!-- Legion follow links -->
        <h4>Follow Us</h4>
        <ul class="social-media">
          <li class="social-media__item">
            <a href="https://www.facebook.com/LegionofHonor/"><span>Facebook</span><i class="icon--small">{% include('svg/famsf-facebook-md.html') %}</i></a>
          </li>
          <li class="social-media__item">
            <a href="https://twitter.com/legionofhonor"><span>Twitter</span><i class="icon--small">{% include('svg/famsf-twitter-md.html') %}</i></a>
          </li>
          <li class="social-media__item">
            <a href="https://www.instagram.com/legionofhonor/"><span>Instagram</span><i class="icon--small">{% include('svg/famsf-instagram-md.html') %}</i></a>
          </li>
          <li class="social-media__item">
            <a href="http://legionofhonormuseum.tumblr.com/"><span>Tumblr</span><i class="icon--small">{% include('svg/famsf-tumblr-md.html') %}</i></a>
          </li>
          <li class="social-media__item">
            <a href="http://www.youtube.com/famsf"><span>Youtube</span><i class="icon--small">{% include('svg/famsf-youtube-md.html') %}</i></a>
          </li>
        </ul>
      </div>

      <div class="l-2up--2">
        <h4>Digital Stories are supported by the Art Mentor Foundation Lucerne</h4>
        <a href="https://www.bankofthewest.com/"><img src="{{ site.url }}/assets/imgs/sponsor-logos/art-mentor-lucerne.svg" alt="Art Mentor Foundation Lucerne" /></a>

        <h4>Monet: The Early Years is supported by Bank of the West, a BNP Paribas Group Bank</h4>
        <a href="https://www.bankofthewest.com/"><img src="{{ site.url }}/assets/imgs/sponsor-logos/bank-of-the-west.png" alt="bank of the west" /></a>
      </div>
    </div>
    <div class="container footer-small">
      <div class="l-2up--1">
        <p><a href="https://deyoung.famsf.org/contact">Contact</a> |
        <a href="https://deyoung.famsf.org/privacy">Privacy</a> |
        <a href="https://deyoung.famsf.org/terms">Terms &amp; Conditions</a></p>
      </div>
      <div class="l-2up--2">
        <p class="footer-small__copyright">©2017 Fine Arts Museums of San Francisco</p>
      </div>
    </div>
  </footer>
</section>
