<section class="js-section pp-scrollable footer" id="exhibit-information">
  <footer class="card-section">
    <div class="container">
      <div class="l-1up">
        <h2>Exhibition Information</h2>
      </div>
    </div>
    <div class="container">
      <div class="l-33-66--1">
        <article class="footer-section">
          <img data-src="{{site.url}}/assets/imgs/footer/14_Monet_luncheon_Art-Resource--small.png" alt="Needs Alt Text" />
          <a class="color-block-button--full" href="https://tickets.famsf.org/events/283/detail/5849f9d058ccc4722edbce35">Non-member Tickets</a>
          <a class="color-block-button--full" href="https://tickets.famsf.org/events/283/detail/583e2a2704907371a3bbbd58">Member Tickets</a>
        </article>
      </div>

      <div class="l-33-66--2">

        <div class="l-3up">
          <article class="footer-section">
            <a href="http://www.famsf.org/join"><img src="{{site.url}}/assets/imgs/footer/membership.png" alt="Join or Renew your Membership" /></a>
            <h3 class="footer-section__title"><a href="http://www.famsf.org/join">Become a Member</a></h3>
          </article>
        </div>
        <div class="l-3up">
          <article class="footer-section">
            <a href="https://legionofhonor.famsf.org/visit-us"><img data-src="{{site.url}}/assets/imgs/footer/visit.png" alt="Plan your Visit" /></a>
            <h3 class="footer-section__title"><a href="https://legionofhonor.famsf.org/visit-us ">Plan your Visit</a></h3>
          </article>
        </div>
        <div class="l-3up">
          <article class="footer-section">
            <a href="http://famsf.us4.list-manage1.com/subscribe?u=d7a49f337e55b897015517194&id=9757c5111b"><img data-src="{{site.url}}/assets/imgs/footer/newsletter.png" alt="Sign up for our Newsletter" /></a>
            <h3 class="footer-section__title"><a href="http://famsf.us4.list-manage1.com/subscribe?u=d7a49f337e55b897015517194&id=9757c5111b">Sign up for our newsletter </a></h3>
          </article>
        </div>
        <div class="l-3up">
          <article class="footer-section">
            <a href="https://legionofhonor.famsf.org/legion/visiting/tours"><img data-src="{{site.url}}/assets/imgs/footer/tours.png" alt="Guided Tours" /></a>
            <h3 class="footer-section__title"><a href="https://legionofhonor.famsf.org/legion/visiting/tours">Guided Tours</a></h3>
          </article>
        </div>
        <div class="l-3up">
          <article class="footer-section">
            <img data-src="{{site.url}}/assets/imgs/footer/audio-tour.png" alt="Audio Tours" />
            <h3 class="footer-section__title"><a href="https://legionofhonor.famsf.org/legion/visiting/tours">Audio Tours</a></h3>
            <div class="footer-block">
              <p>Download <em>Monet: The Early Years</em> Audio Tour &amp; App. Available on iOS or Android.</p>
              <a class="footer-link" href="https://itunes.apple.com/us/app/legion-of-honor-monet/id1206465523?ls=1&mt=8">App Store</a>
              <a class="footer-link" href="https://play.google.com/store/apps/details?id=com.antennainternational.legionofhonormonet">Google Play</a>
            </div>
          </article>
        </div>
        <div class="l-3up">
          <article class="footer-section">
            <a href="https://www.famsf.org/press-room/monet-early-years "><img data-src="{{site.url}}/assets/imgs/footer/20_Magpie_Art-Resource-small.png" alt="Pressroom" /></a>
            <h3 class="footer-section__title"><a href="https://www.famsf.org/press-room/monet-early-years ">More about the Exhibition</a></h3>
          </article>
          <article class="footer-section">
            <h3 class="footer-section__title"><a href="https://legionofhonor.famsf.org/calendar">Events related to <em>Monet: The Early Years</em></a></h3>
          </article>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="l-2up--1">
        <h3 class="footer-section__title">Visiting</h3>
        <img class="footer-img__half" data-src="{{site.url}}/assets/imgs/footer/visiting.png" alt="Guests spend time in the courtyard at the Legion of Honor" />
        <div class="footer-block__half">
          <h4>Legion of Honor </h4>
          <p>Lincoln Park, 100 34th Avenue, San Francisco<br />Open 9:30 a.m.– 5:15 p.m.<br />Tuesdays–Sundays.<br />415 750-3600</p>

          <p>
            <a class="footer-link" href="https://www.famsf.org/">Fine Arts Museums of San Francisco</a>
            <br />
            <a class="footer-link" href="https://deyoung.famsf.org/">de Young</a>
            <br />
            <a class="footer-link" href="https://legionofhonor.famsf.org/">Legion of Honor</a>
          </p>
        </div>
        <!-- Legion follow links -->
        <h4>Follow Us</h4>
        <ul class="social-media">
          <li class="social-media__item">
            <a href="https://www.facebook.com/LegionofHonor/"><span>Facebook</span><i class="icon--small">
            {% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
            {% include('svg/famsf-facebook-md.svg') %}
            {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
            {% include('svg/deyoung/famsf-facebook-md.svg') %}
            {% endif %}</i></a>
          </li>
          <li class="social-media__item">
            <a href="https://twitter.com/legionofhonor"><span>Twitter</span><i class="icon--small">
            {% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
            {% include('svg/famsf-twitter-md.svg') %}
            {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
            {% include('svg/deyoung/famsf-twitter-md.svg') %}
            {% endif %}</i></a>
          </li>
          <li class="social-media__item">
            <a href="https://www.instagram.com/legionofhonor/"><span>Instagram</span><i class="icon--small">{% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
            {% include('svg/famsf-instagram-md.svg') %}
            {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
            {% include('svg/deyoung/famsf-instagram-md.svg') %}
            {% endif %}</i></a>
          </li>
          <li class="social-media__item">
            <a href="http://legionofhonormuseum.tumblr.com/"><span>Tumblr</span><i class="icon--small">
            {% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
            {% include('svg/famsf-tumblr-md.svg') %}
            {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
            {% include('svg/deyoung/famsf-tumblr-md.svg') %}
            {% endif %}</i></a>
          </li>
          <li class="social-media__item">
            <a href="http://www.youtube.com/famsf"><span>Youtube</span><i class="icon--small">
            {% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
            {% include('svg/famsf-youtube-md.svg') %}
            {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
            {% include('svg/deyoung/famsf-youtube-md.svg') %}
            {% endif %}</i></a>
          </li>
        </ul>
      </div>

      <div class="l-2up--2">
        <h3 class="footer-section__title">Special Thanks</h3>
        <h4>Digital Stories are supported by the Art Mentor Foundation Lucerne</h4>
        <a href="https://www.bankofthewest.com/"><img data-src="{{ site.url }}/assets/imgs/sponsor-logos/art-mentor-lucerne.svg" alt="Art Mentor Foundation Lucerne" /></a>

        <h4>Monet: The Early Years is supported by Bank of the West, a BNP Paribas Group Bank</h4>
        <a href="https://www.bankofthewest.com/"><img data-src="{{ site.url }}/assets/imgs/sponsor-logos/bank-of-the-west.png" alt="bank of the west" /></a>
      </div>
    </div>
    <div class="container footer-small">
      <div class="l-2up--1">
        <a href="https://legionofhonor.famsf.org/contact">Contact</a>
        <a href="https://legionofhonor.famsf.org/privacy">Privacy</a>
        <a href="https://legionofhonor.famsf.org/terms">Terms &amp; Conditions</a>
      </div>
      <div class="l-2up--2">
        <p class="footer-small__copyright">©2017 Fine Arts Museums of San Francisco</p>
      </div>
    </div>
  </footer>
</section>
