{#
  name: Icons
  usage: Associated with ctas
#}

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-arrow-up-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-arrow-up-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-arrow-down-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-arrow-down-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-info-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-info-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-share-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-share-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-zoom-in-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-zoom-in-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-audio-play-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-audio-play-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-pause-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-pause-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-caret-down-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-caret-down-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-caret-up-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-caret-up-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-caret-right-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-caret-right-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-caret-left-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-caret-left-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-plus-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-plus-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-minus-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-minus-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-facebook-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-facebook-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-twitter-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-twitter-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-instagram-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-instagram-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-tumblr-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-tumblr-sm.html') %}</span>
</section>

<section class="styleguide-section">
  <span class="styleguide-icon icon--med">{% include('svg/famsf-youtube-md.html') %}</span>
  <span class="styleguide-icon icon--small">{% include('svg/famsf-youtube-sm.html') %}</span>
</section>
