{#
  name: Image comparison
  usage: Images comparison may appear in several contexts throughout the site.
#}

{% block component %}

<div class="container">
  <div class="l-1up">
    <h2>Monet’s Experience with the Salon</h2>
    <p>Painting was a career, and as in any other, Monet had to figure out the rules to succeed. He knew that acceptance to the Salon was the most assured road to success. Monet actively solicited advice from fellow painters on how to make his paintings acceptable, yet it was difficult to know what would please the Salon jurors.</p>
    <p>Below are several paintings he submitted for exhibition to the Salon. <em><strong>Guess which one was accepted.</strong></em></p>
  </div>
</div>
<div class="container comparison">
  <!-- Do we need a header here? -->
  <!-- <h2>Example One: Comparing Seascapes</h2> -->
  <div class="comparison__2up js-comparison__group">
    <figure>
      <div class="figure--wrapper">
        <img src="{{ site.url }}/assets/imgs/art/Low_tide.jpg" alt="The Pointe de La Hève at Low Tide" />
        <button class="comparison__button js-comparison__button">
          <i class="icon-arrow--down js-icon-arrow--down">{% include('svg/famsf-carrot-down-sm.html') %}</i>
          <i class="icon-arrow--up js-icon-arrow--up" style="display:none;">{% include('svg/famsf-carrot-up-sm.html') %}</i>
          Option A
        </button>
      </div>
      <a class="figcaption-cta js-figcaption-cta">image credit</a>
      <figcaption><span class="title-of-art">The Pointe de La Hève at Low Tide</span> 1865</figcaption>
    </figure>
    <div class="comparison__answer js-comparison__answer js-comparison__answer--is-closed">
      <h3>Accepted!</h3>
      <p>The 24-year-old Monet was successful in having his first submission approved for exhibition at the Salon. This work was also praised in the press: “Monet, unknown yesterday, has immediately made a name for himself with this single painting.” </p>
      {% include('audio.html') %}
      <blockquote>
      &ldquo;The most original … and harmoniously painted seascape exhibited in a long time … M. Monet, unknown yesterday, has immediately made a name for himself with this single painting.&rdquo;
      </blockquote>
    </div>
  </div>

  <div class="comparison__2up js-comparison__group">
    <figure>
      <div class="figure--wrapper">
        <img src="{{ site.url }}/assets/imgs/art/Havre_dOrsay.jpg" alt="The Jetty at Le Havre" />
        <button class="comparison__button js-comparison__button">
          <i class="icon-arrow--down js-icon-arrow--down">{% include('svg/famsf-carrot-down-sm.html') %}</i>
          <i class="icon-arrow--up js-icon-arrow--up" style="display:none;">{% include('svg/famsf-carrot-up-sm.html') %}</i>
          Option B
        </button>
      </div>
      <a class="figcaption-cta js-figcaption-cta">image credit</a>
      <figcaption><span class="title-of-art">The Jetty at Le Havre</span> 1868</figcaption>
    </figure>
    <div class="comparison__answer js-comparison__answer js-comparison__answer--is-closed">
      <h3>Rejected!</h3>
      <p>Monet submitted this seascape in 1868. It was rejected. The young artist had invested a significant sum of money in this large-scale canvas and had to beg his family for money to survive.</p>
    </div>
  </div>
</div>

{% endblock %}
