{#
  name: Image with credit zoomable
  usage: Images with credits may appear in several contexts throughout the site.
#}

{% block component %}
  <figure class="figure__zoomable" >
    <div class="figure--wrapper figure__zoomable-child" style="background-image: url('../assets/imgs/art/bodmer_fullsize.jpg'); transform-origin: 60% 70%;">
    </div>
    <img style="visibility: hidden;" src="../assets/imgs/art/bodmer_fullsize.jpg" alt="bodmer" />

    <div class="zoom-group">
      <div class="zoom-marker-outer" style="position: absolute; left:70%; top: 50%;">
          <a class="zoom-marker-inner animated fadeInDownShort delay-1000" href="javacript:;"><span class="styleguide-icon--small">{% include('svg/famsf-zoom-in-sm.html') %}</span> Color</a>
      </div>
      <div class="zoom-detail-view">
        <header>
          <div class="container">
            <div class="l-1up">
              <h2>color</h2>
            </div>
          </div>
        </header>
        <div class="container">
            <div class="l-1up">
              <img src="{{ site.url }}/assets/imgs/art/bodmer_color.jpg" alt="image detail">
              <p>In contrast to this restrained study of light and color, Monet captures direct sunlight through the use of intense white as seen on the trunk of the oak. </p>
            </div>
        </div>
      </div>
    </div>
    <div class="zoom-group">
      <div class="zoom-marker-outer" style="position: absolute; left:40%; top: 50%;">
          <a class="zoom-marker-inner animated fadeInDownShort delay-1000" href="javacript:;"><span class="styleguide-icon--small">{% include('svg/famsf-zoom-in-sm.html') %}</span> Light</a>
      </div>
      <div class="zoom-detail-view">
        <header>
          <div class="container">
            <div class="l-1up">
              <h2>Light</h2>
            </div>
          </div>
        </header>
        <div class="container">
            <div class="l-2up">
              <p>The background of the composition is only defined by varied light green tones, flattening any sense of depth beyond the oak.
              </p>
            </div>
            <div class="l-2up">
                <img src="{{ site.url }}/assets/imgs/art/bodmer_light.jpg" alt="image detail">
            </div>
        </div>
      </div>
    </div>
    <div class="zoom-group">
      <div class="zoom-marker-outer" style="position: absolute; left:40%; top: 80%;">
          <a class="zoom-marker-inner animated fadeInDownShort delay-1000" href="javacript:;"><span class="styleguide-icon--small">{% include('svg/famsf-zoom-in-sm.html') %}</span> Shadow</a>
      </div>
      <div class="zoom-detail-view">
        <header>
          <div class="container">
            <div class="l-1up">
              <h2>Shadow</h2>
            </div>
          </div>
        </header>
        <div class="container">
            <div class="l-1up">
              <img src="{{ site.url }}/assets/imgs/art/bodmer_shadow.jpg" alt="image detail">
              <p>Perhaps most striking is the artist’s ability to capture the dancing quality of shadows through his varied use of color. In the foreground, the forest floor is covered in muddied grays, yellows, and greens creating a sense of a soft light breaking through the forest canopy
              </p>
            </div>
        </div>
      </div>
    </div>
    <figcaption>
      <span class="title-of-art">Banks of the Somme at Picquigny</span> Jean-Baptiste-Camille Corot
    </figcaption>
    {% include('caption-info--cta.html') %}
  </figure>

{% endblock %}

