{#
  name: Read More CTA
  usage: Read More CTA is used to trigger the reveal of deep dive information.
#}

{% block component %}

<div class="container">
  <button class="button-with-icon js-icon--read-more"> 
    <i class="js-icon-arrow--down">
      <span class="icon--large-responsive">{% include('svg/famsf-arrow-down-lg.html') %}</span>
      <span class="icon--med-responsive">{% include('svg/famsf-arrow-down-md.html') %}</span>
    </i>
    <i class="js-icon-arrow--up" style="display:none;">
      <span class="icon--large-responsive">{% include('svg/famsf-arrow-up-lg.html') %}</span>
      <span class="icon--med-responsive">{% include('svg/famsf-arrow-up-md.html') %}</span>
    </i>
    <div>Click to Read More About Monet&rsquo;s Influences</div>
  </button>
</div>

{% endblock %}
