{#
  name: Read More CTA
  usage: Read More CTA is used to trigger the reveal of deep dive information.
#}

{% block component %}

<div class="container">
  <button class="button-with-icon js-icon--read-more"> 
    <i class="js-icon-arrow--plus icon--med">
      {% include('svg/famsf-plus-md.html') %}
    </i>
    <i class="js-icon-arrow--minus icon--med" style="display:none;">
      {% include('svg/famsf-minus-md.html') %}
    </i>
    <div>Click to Read More About Monet&rsquo;s Influences</div>
  </button>
</div>

{% endblock %}
