{#
  name: Section Hero with video
  usage: The section hero is used at the beginning of as section or chapter. This version has a background video.
#}

{% block component %}

<div class="section-hero has-video">
    <video autoplay="autoplay" muted="muted" preload="metadata" style="width:100%" title="Etretat GettyImages-150708198" loop="loop" class="video-background">
      <source src="{{ site.url }}/assets/vid/Forest_GettyImages-614587492.mp4" />
      <source src="{{ site.url }}/assets/vid/Forest_GettyImages-614587492.webmhd.webm" type="video/webm" />
      Your browser does not support the video tag.
    </video>
  {% include('section-hero-title--optionb.html') %}
</div>

{% endblock %}

