{#
  name: Section Hero with image
  usage: The section hero is used at the beginning of as section or chapter. This version has a background image.
#}

{% block component %}

{% if page.title == "Dark Section Hero with Light Background Image" or page.title == "Light Section Hero with Light Background Image" %}
  <div class="section-hero has-image" style="background-image: url('../assets/imgs/art/Plaut_pont-neuf_BNF.jpg');">
    {% include('section-hero-title--optiona.html') %}
  </div> 

{% elseif page.title == "Dark Section Hero with Dark Background Image" or page.title == "Light Section Hero with Dark Background Image" %}
  <div class="section-hero has-image" style="background-image: url('../assets/imgs/art/Camille_green_dress.jpg');">
    {% include('section-hero-title--optionc.html') %}
  </div> 
{% endif %}

{% endblock %}
