{#
  name: Share This Section
  usage: a button within a section to share things.
#}

{% block component %}
<div class="js-share">
  <button class="share-button js-share-button button-with-icon animated delay-500">
    <i class="icon--small">{% if page.theme == 'legion-dark' or page.theme == 'legion-light' %}
    {% include('svg/famsf-share-sm.svg') %}
    {% elseif page.theme == 'deyoung-dark' or page.theme == 'deyoung-light' %}
    {% include('svg/deyoung/famsf-share-sm.svg') %}
    {% endif %}</i>
    <div>share</div>
  </button>
  <div class="share-expander js-share-expander js-share-expander--is-closed">
    <div class="addthis_inline_share_toolbox"></div>
  </div>
</div>
{% endblock %}
