{#
  name: Site Hero
  usage: The site hero is used at the beginning of the website.
#}

{% block component %}

<div class="site-hero" data-bg="{{ site.url }}/assets/imgs/art/Trouville.jpg">
  <div class="site-hero__title--bold top-left animatedParent">
    <div class="animated-border--top"></div>
    <div class="site-hero__title-text js-section-hero--get_height animated delay-1250">
      {% if page.theme == 'legion-light' or page.theme == 'legion-dark' %}
      <span class="site-hero__logo"><a href="#">Legion of Honor Museum</a></span>
      {% elseif page.theme == 'deyoung-light' or page.theme == 'deyoung-dark' %}
      <span class="site-hero__logo"><a href="#">de Young Museum</a></span>
      {% endif %}
      <h1>Monet: The Early Years</h1>
      <h2>February 25 &mdash; May 29, 2017</h2>
    </div>
    <div class="animated-border--bottom"></div>
  </div>
</div>

{% endblock %}
