{#
  name: Modal for zooming in on an image
  usage: Placed at bootom of the page and used with Image zoom.
#}

<div class="zoom-overlay-background">
</div>
<div class="zoom-window animatedParent">
  <footer class="zoom-header">
    <button class="zoom-close animated fadeInDownShort button-with-icon" href="javascript:;" style="display: none;">
      <i>
        <span class="icon--small">{% include('svg/famsf-zoom-out-sm.html') %}</span>
      </i>
      <div>close</div>
    </button>
  </footer>
  <div class="zoom-window__content">
  </div>
  <footer class="zoom-footer">
    <button class="zoom-close animated fadeInDownShort button-with-icon" href="javascript:;" style="display: none;">
      <i>
        <span class="icon--small">{% include('svg/famsf-zoom-out-sm.html') %}</span>
      </i>
      <div>close</div>
    </button>
  </footer>
</div>
