/**
 * @file
 * Defines the custom Optimism Dark Teal theme.
 *
 * When loaded, this file will override the base color scheme.
 */

// Override color scheme variables set in _init.scss
$black: #000;
$gray-dark: #3e3e3e;
$gray-medium: #a8abad;
$gray-light: #ececec;
$white: #fff;
$white-10: rgba($white, .1);
$white-20: rgba($white, .2);
$white-30: rgba($white, .3);
$white-60: rgba($white, .6);

$azure: #1c90cf;
$azure-60: #77bce2;
$indigo: #0f6088;
$pink: #d3a9ba;
$pink-5: #fdfbfc;
$pink-10: #fbf6f8;
$pink-20: #f4edf0;
$magenta: #922b55;
$sea: #216780;
$ink: #10465b;
$midnight: #03161e;

$background-a: $pink-5;
$background-b: $pink-20;
$border: $pink-5;
$text-color: $midnight;
$text-color-invert: $pink-5;
$primary: $indigo;
$primary-active: $ink;
$secondary: $magenta;
$tertiary: $azure;

$dotted-border: null;
$rectangles-border: null;

// Import the global theme styles.
@import '../../global';

// Import theme specific components
// @import 'components/banner';
