/**
 * @file
 * Defines the custom De Young Light theme.
 *
 * When loaded, this file will override the base color scheme.
 */

// Override color scheme variables set in _init.scss
$black: #000000s;
$gray-dark: #3e3e3e;
$gray-medium: #a8abad;
$gray-light: #ececec;
$white: #fff;
$white-10: rgba($white, .1);
$white-20: rgba($white, .2);
$white-30: rgba($white, .3);
$white-60: rgba($white, .6);
$white-80: rgba($white, .8);

// oranges
$sunshine: #ffedbd;
$sherbet: #fcb275;
$citrus: #e58638;
$orange: #c14c2d;
$clay: #bc432f;
$rust: #bc3c2f;
$earth: #b7342a;

// red
$red: #a83223;

// blues
$blue: #72b9c1;
$blue-70: #9cced4;
$blue-60: #aad5da;
// Override this blue with Teo teal!
$blue-40: #2a9a9a;
// Override another blue
$blue-30: rgba(#2a9a9a, 0.4);
$blue-20: #e3f1f3;
$blue-10: #edf6f7;

// greens
$green: #005244;
$forest: #4c867c;
$sage: #b2cbc7;
$mint: #e5eeec;

// yellows
$yellow: #efe36e;
$yellow-70: #f4eb99;
$yellow-50: #f7f1b6;
$yellow-30: #faf7d3;

// teals
$seafoam: #bacdce;
$teal: #36545b;
$blue-gray: #213538;
$blue-black: #0f1616;

// Klimt-specific palette

$klimt-gold: #cc9933;
$klimt-purple: #72597e;
$klimt-purple-pale: #eddef4;
$klimt-gray: #e6e7e8;
$klimt-greenish: #a28f33;

$background-a: $white;
$background-b: $white;
$background-c: $klimt-gray;
$background-d: $klimt-gray;
$pattern-a: $white;
$pattern-b: $white;
$border: $klimt-gold;
$text-color: $gray-dark;
$text-color-invert: $gray-dark;
$primary: $klimt-gold;
$primary-active: $klimt-greenish;
$secondary: $klimt-purple;
$tertiary: $klimt-purple;
$citation: $klimt-purple;
$hero-color: $white;



$decorative-border: null; // Needed for Safari.
$decorative-border-width: 2px;
$decorative-border-style: solid;
$decorative-border-color: $klimt-gray;
$decorative-border-image: null;
$rectangles-border: url('../../../imgs/deyoung-rectangles-light.png');
$zoom-background: $white;
$text-shadow-color: null;
$hero-content-text: $gray-dark;
$hero-content-text-active: $black;

$section-hero-text: $white;
$section-hero-shadow: $citrus;
$section-hero-shadow-b: $orange;
$section-hero-border-a: $yellow;
$section-hero-border-b: $rust;

$next-icon: $klimt-gold;
$next-icon-active: $klimt-greenish;

// icons
$icon: $klimt-gold;
$icon-active: $klimt-greenish;
$icon-stroke: null;
$icon-stroke-active: null;

// Let's override the footer some more, shall we?

.footer {
  color: $gray-dark;

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $klimt-purple !important;
  }
}

.comparison__button {
  background-color: $klimt-gray !important;
}

.dashboard__nav-item a:link,
.dashboard__nav-item a:visited {
  color: $klimt-purple;
}

.section-hero__title--bold,
.site-hero__title--bold {

  h1 {
    text-shadow: 0 1px 7px #2a2a2a !important;
    font-family: "Roboto-Slab" !important;
    font-weight: 500 !important;
  }

  .animated-border--top,
  .animated-border--bottom {
    display: none !important;
  }

}

.site-hero__title--bold {

  .site-hero__logo,
  h2 {
    background-color: transparent !important;
    text-shadow: 0 1px 7px #2a2a2a !important;
    font-family: "Roboto-Slab" !important;
    font-weight: 500 !important;
    padding: 0 !important;
    margin-top: 0 !important;
  }

  h2.ds-identity {
    font-weight: 300 !important;
    font-size: 1.52em !important;
  }

  a:link {
    padding: 0 !important;
  }

  h1 {
    text-transform: uppercase !important;
    letter-spacing: .6px !important;
    line-height: 1em !important;
    font-size: 3.65em !important;
  }

}

.bottom-right.section-hero__title--bold,
.bottom-left.section-hero__title--bold {
  padding: 0 !important;

}

.horizontal-slider__wrapper,
.deep-dive {
  box-shadow: none !important;
}

.cls-2 {
  stroke-width: 0 !important;
}

.button-with-icon {

  &:active,
  &:hover,
  &:focus {
    color: $klimt-greenish !important;
  }

}

// Move the next page button

.next-page.hero {
  margin-top: -50px !important;
}

// Get rid of the border rectangles

.rectangles-bg {
  border-width: 15px !important;
  border-style: solid !important;
  border-color: $klimt-gray;
  border-image-source: none !important;
  border-image-slice: none;
  border-image-repeat: none;
}

.preCredit {
  padding: 0 1em;
  font-weight: 400;
  font-size: .75em;
}

// Import theme specific components used in global
// @import 'deyoung-section-hero';
@import 'legion-section-hero';

// Import the global theme styles.
@import '../../global';

// Import theme specific components
@import 'legion-typography';
@import 'legion-wysiwyg';
@import 'legion-figure';
