<div id="down_arrow">
  <a href="#">
    <svg version="1.1" viewBox="0 0 68 68" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>down_arrow</title>
      <desc>Created with Sketch.</desc>
      <defs>
        <circle id="a" cx="24" cy="24" r="24"/>
        <filter id="b" x="-31.2%" y="-31.2%" width="162.5%" height="162.5%">
          <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"/>
          <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="5"/>
          <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.142012002 0"/>
        </filter>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(-1407 -970)">
          <g transform="translate(720 214)">
            <g transform="translate(697 766)">
              <use fill="black" filter="url(#b)" xlink:href="#a"/>
              <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#a"/>
              <g transform="translate(16 15)" stroke="#927A0C" stroke-linecap="round" stroke-width="1.5">
                <polyline transform="translate(7 14.5) rotate(90) translate(-7 -14.5)" points="3 8 11 14.458 3 21"/>
                <path transform="translate(7 9.5) rotate(90) translate(-7 -9.5)" d="m-1.3671 9.5h16.867"/>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </a>
</div>
