<div class="item intro-slide">
  <div class="item__content">
    <h3 class="">{{ title }}</h3>
    <div class="textarea">
      {{ description }}
    </div>
    {% include "@atoms/slide__icon--next/slide__icon--next.html.twig" %}
  </div>
</div>
