{% import "@macros/inklude.html.twig" as inklude %}
<div class="footer__navigation">
  <div class="grid-container grid-container-padded">
    <div class="grid-x">
      <div class="cell large-6">
        {{ inklude.components(left) }}
      </div>
      <div class="cell large-6">
        {{ inklude.components(right) }}
      </div>
    </div>
  </div>
</div>
