<section class="chapter {% if classes %}{{ classes|split(' ') }}{% endif %}" id="{{ id }}">
  {% for page in pages %}
      {% include "@organisms/Page/Page.html.twig" with page only %}
  {% endfor %}
</section>
