<section class="chapter {{ classes }}" id="{{ id }}" data-chapter-index="{{ index }}" data-chapter-length="{{ pages|length }}">
  {% for id, page in pages %}
    {% include "@organisms/Page/Page.html.twig" with page|merge({id: id, pageIndex: loop.index0 }) only %}
  {% endfor %}
</section>
