%sharing-icons {
  .icon {
    transition: opacity .25s ease-in-out;
    opacity: .25;

    &:hover {
      opacity: 1;
    }
  }

  .horizontal-image-slider & {
    margin-top: 2rem;

    .icon {
      border-color: $white;
      color: $white;
      opacity: 1;
    }
  }
}

.sharing-icons {
  @extend %sharing-icons;
}
