<div class="sharing-icons button-group">
  <a href="#" class="button hollow icon"><i class="fab fa-twitter"></i><span class="show-for-sr">Twitter</span></a>
  <a href="#" class="button hollow icon"><i class="fab fa-facebook-f"></i><span class="show-for-sr">Facebook</span></a>
</div>
