/*
Ambient Video

Fullscreen html5 video playing in the background

Markup: AmbientVideo.html.twig

Styleguide COMPONENTS.AmbientVideo

*/


%ambient_video {

  @extend %fill_screen;
  position: relative;
  overflow: hidden;
  
  .video_element {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;

    &.stopfade {
      opacity: .5;
    }
  }

  .text_content {
    @extend %abs;
    @extend %fill_screen;
    padding-top: 8em;
    color: #fff;
  }
}

.ambient_video {
  @extend %ambient_video
}
