/*
Ambient Video

Fullscreen html5 video playing in the background

Markup: AmbientVideo.html.twig

Styleguide COMPONENTS.AmbientVideo

*/


%ambient_video {

  @extend %fill_screen;
  position: relative;
  overflow: hidden;

  .video_element {
    @extend %object-fit;
    z-index: -100;

    &.stopfade {
      opacity: .5;
    }
  }

  .text_content {
    @extend %abs;
    @extend %fill_screen;
    padding-top: 8em;
    color: #fff;
  }
}

.ambient_video {
  @extend %ambient_video
}
