/*
Ambient Video

Fullscreen html5 video playing in the background

Markup: AmbientVideo.html.twig

Styleguide COMPONENTS.AmbientVideo

*/


%ambient_video {

  @extend %fill_screen;
  position: relative;
  overflow: hidden;
  background-color: black;
  .video_element {
    @extend %performy;
    @extend %object-fit;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    display: none;
    opacity: 0em;
    z-index: -100;

    &.stopfade {
      opacity: .5;
    }
  }

  .text_content {
    @extend %abs;
    @extend %fill_screen;
    padding-top: 8em;
    color: #fff;
  }

  &.triggered {
    display: block;

    opacity: 1;
  }
}

.ambient_video {
  @extend %ambient_video
}
