<button class="modal__close-button close-button button hollow" data-close aria-label="Close modal" type="button">
  <span class="close-button__icon" aria-hidden="true">&times;</span><span class="close-button__text">Close</span>
</button>
