<div class="commentary__icon">
  <?xml version="1.0" encoding="UTF-8"?>
  <svg width="50px" height="50px" viewBox="80 0 30 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <title>Quote</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Components" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="component_commentary_quote" transform="translate(-1345.000000, -410.000000)">
        <g id="Short-Quote---Tonal-Background" transform="translate(718.000000, 87.000000)">
          <g transform="translate(0.000000, 55.000000)" id="Quote">
            <g transform="translate(628.000000, 268.000000)">
              <path d="M96.3929619,13.8005865 C96.3929619,12.2248211 96.4946226,10.8015704 96.6979472,9.53079179 C96.9012718,8.2600132 97.2443769,7.07820683 97.7272727,5.98533724 C98.2101686,4.89246765 98.8328408,3.87586003 99.5953079,2.93548387 C100.357775,1.99510771 101.298137,1.01662287 102.416422,0 L107.982405,4.49853372 C107.270769,5.10850745 106.698927,5.69305683 106.266862,6.25219941 C105.834797,6.81134199 105.478985,7.42130657 105.199413,8.08211144 C104.919842,8.7429163 104.703813,9.47995683 104.55132,10.2932551 C104.398826,11.1065534 104.297165,12.0977459 104.246334,13.2668622 L107.982405,13.2668622 L107.982405,26 L96.3929619,26 L96.3929619,13.8005865 Z M80,13.8005865 C80,12.2248211 80.1016608,10.8015704 80.3049853,9.53079179 C80.5083099,8.2600132 80.851415,7.07820683 81.3343109,5.98533724 C81.8172067,4.89246765 82.4398789,3.87586003 83.202346,2.93548387 C83.9648132,1.99510771 84.9051752,1.01662287 86.0234604,0 L91.5894428,4.49853372 C90.8778068,5.10850745 90.305965,5.69305683 89.8739003,6.25219941 C89.4418356,6.81134199 89.0860229,7.40859897 88.8064516,8.04398827 C88.5268803,8.67937757 88.3108512,9.41641809 88.1583578,10.255132 C88.0058643,11.0938458 87.9042036,12.0977459 87.8533724,13.2668622 L91.5894428,13.2668622 L91.5894428,26 L80,26 L80,13.8005865 Z" id="quote" fill="#927A0C"></path>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</div>
