<section class="page {{ classes }}" id="chapter_{{ id }}" data-page-index="{{ index }}">
  <div class="frame">
      <!-- Component: {{ component }} -->
      {# include component with _context only #}
      <!-- End Component -->
  </div>
</section>
