{% import "@macros/inklude.html.twig" as inklude %}
<section class="page {{ classes }}" id="{{ id|default(chapter ~ "p" ~  index) }}" data-page-index="{{ index }}">
  <div class="frame">
    {{ inklude.components(_context) }}
  </div>
</section>
