/*

Picture

A responsive picture element with srcset

Markup: Picture.html.twig

Styleguide athing.anotherthign

*/

%picture {
  display: inline-block;
  width: 100%;
  height: auto;

  &.horizontal {

  }

  &.vertical {

  }


  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.picture {
  @extend %picture
}
