%chapter_nav__active_link {

  .dot_wrapper {
    animation: pulse 1.375s infinite ease-in-out alternate running;
    z-index: -1;
  }

  .dot {
    z-index: 2;
    background-color: map-get($foundation-palette, "primary");
  }
}

%chapter_nav--hover {

  ul {

    li::after {
      opacity: 1;
    }
  }
}

#chapter_nav {
  @extend .hide-for-small-only;

  width: 3em;
  position: fixed;
  z-index: 110;
  box-sizing: border-box;
  top: 18vh;
  padding: 0 1rem;
  left: 1.5rem;
  height: 65vh;
  background-image: url('/assets/images/chapternav-background.svg');
  background-repeat: repeat-y;
  background-position: center center;
  background-size: 100% 100%;
  font-family: sans-serif;

  @media (min-width: map-get($breakpoints, medium)) {
    display: block
  }

  ul {

    list-style: none;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .dot_wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      @extend %centered;
    }

    .dot {
      display: inline-block;
      position: absolute;
      box-shadow: 0px 0px 0px 3px rgba( $medium-gray, 1);
      transition-property: background-color;
      transition-duration: 0.75s;
      transition-timing-function: ease-in-out;
      text-decoration: none;
      box-sizing: border-box;
      background-color: #fff;
      color: #fff;
      @extend %centered;
      border-radius: 50%;
      width: 0.425rem;
      height: 0.425rem;
      text-align: center;
    }

    li:nth-child(1) {
      counter-reset: chapters;
      &::after {
        content: counter(chapters, upper-alpha);
      }
    }
    li:nth-child(2) {
      counter-reset: chapters;
      &::after {
        content: counter(chapters, upper-roman);
      }
    }

    li {

      position: relative;
      padding: 0;

      a {
        @extend %centered;
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 1.25rem;
        height: 1.25rem;
      }

      &.active {
        a {
          @extend %chapter_nav__active_link;
        }
      }

      &::after {
        font-family: sans-serif;
        counter-increment: chapters;
        content: counter(chapters, upper-roman);
        transition-property: opacity;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        position: absolute;
        // display: none;
        opacity: 0;
        left: 2.5rem;
        top: -0.75rem;
        color: #fff;
      }
    }

    li.past {
      .dot {
        box-shadow: 0px 0px 0px 3px rgba(map-get($foundation-palette, "primary"), 1);
      }
    }
  }

  .dark & {
    ul {
      li {
        &::after {
          text-shadow: 1px 1px 3px rgba($black, 0.4);
        }
      }
    }
  }


  .scroll_percent {

    content: "";
    border-left: 3px map-get($foundation-palette, "primary") solid;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    transition-property: height;
    transition-duration: 0.45s;
    transition-timing-function: ease-out;
  }

  &:hover {
    @extend %chapter_nav--hover;
  }
}

body {

  counter-reset: tooltipChapters;

  .tooltip.chapter_nav__tip{

    box-shadow: -1px -1px 5px rgba(#000, 0.3);
    font-size: 0.925rem;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
    white-space: nowrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &::before {
      transition-duration: 0.325s;
      transition-timing-function: ease-out;
      transition-property: opacity;
      position: absolute;
      left: 0.875em;
      width: auto;
      height: auto;
      background-color: transparent;
      border: none;
      display: inline-block;
    }
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(map-get($foundation-palette, "primary"), 0.4);
    box-shadow: 0 0 0 0.625rem rgba(map-get($foundation-palette, "primary"), 0.4);
  }
  100% {
    background-color: rgba(map-get($foundation-palette, "primary"), 0.15);
    box-shadow: 0 0 0 1.25rem rgba(map-get($foundation-palette, "primary"), 0.15);
  }
}
