<nav id="chapter_nav">
  <ul>
    <li class="active">
      <a href="#chapter1"><span class="show-for-sr">1</span></a>
    </li>
    <li><a href="#chapter2">
      <span class="show-for-sr">2</span></a>
    </li>
    <li>
      <a href="#chapter3"><span class="show-for-sr">3</span></a>
    </li>
  </ul>
</nav>
