<div class="cover_page">
  <div class="underlay">
    <div class="underlay_contents">
      <h1 class="headline exhibit_logo">
        <span class="solid">Klimt &</span><br><span class="outline">Rodin</span>
      </h1>
    </div>
  </div>
</div>
