<div class="cover_page" id="CoverPage" data-bg-image="/assets/images/lady-with-hat.jpg"
      data-bg-image-alt="An Image of Lady with Hat and Feather Boa, 1909 by Gustav Klimt, a red headed lady with a blue hat.">

  <div class="underlay">
    <div class="underlay_contents">

      <h1 class="headline exhibit_logo">
        <span class="solid">Klimt &</span><br><span class="outline">Rodin</span>
      </h1>
      <h2 class="subtitle">An Artistic Encounter</h2>
      <div class="content">
        <div class="info">
          <div class="loc">Legion of Honor Museum</div>
          <div class="date">October 14, 2017 – January 28, 2018</div>
      </div>
    </div>
  </div>

  <div class="cover_loader_container">

    <div class="top loaderpane">
      <div class="headline mask">
        <div>
          <span class="text">Klimt &<br>Rodin</span>
        </div>
      </div>
    </div>

    <div id="mask_loader" class="mask_loader loader loaderpane">
      <div class="headline">
        <span class="text">Klimt &<br>Rodin</span>
      </div>
    </div>
  </div>

</div>
