<div class="cover_page">
  <div class="underlay">
    <div class="underlay_contents">
      <h1 class="headline exhibit_logo">
        <span class="solid">{{ title is iterable ? title.firstLine : title }}</span>
        {% if title.secondLine is not empty %}
          <br/><span class="outline">{{ title.secondLine }}</span>
        {% endif %}
      </h1>
    </div>
  </div>
</div>
