%button {
  background: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;

  svg {
    margin: .125rem 0 0 0;
    height: 1rem;
    width: 1rem;
  }

  &.hollow {
    border: 2px solid $black;
    color: $black;
    background: transparent;
  }

  &.icon {
    padding: .25rem;
    height: 2rem;
    width: 2rem;
    font-size: 1em;
  }
}

button,
.button {
  @extend %button;
}
