<div class="audio-with-transcript">
  {% if audio__file|last %}
    {% set audio__file = audio__file|last %}
  {% endif %}
  <div class="audio_player__wrapper">
    {% include "@atoms/audio_player/audio_player.html.twig" with { src: audio__file.src ~ '.mp3' } only %}
  </div>
  {% include "@atoms/transcript/transcript.html.twig" with {
    title: name,
    button_text: audio__transcript__toggle,
    id: 'audio-with-transcript__' ~ id,
    brief: audio__description,
    text: audio__transcript
  } only %}
</div>
