/*
Ambient Video

Fullscreen html5 video playing in the background

Markup: AmbientVideo.html.twig

Styleguide COMPONENTS.AmbientVideo

*/


%ambient_video {

  @extend %fullscreen-credits;

  @include breakpoint(medium) {
    @include fill_screen;
    position: relative;
    overflow: hidden;
    background-color: black;
  }

  &::before {
    @include breakpoint(medium) {
      content: "";
      @include abs;
      @include fill_screen;
      z-index: 2;
      background: linear-gradient(90deg, rgba($black,0) 0, rgba($black, 0.75) 30%, rgba($black, 1) 95%);
    }
  }

  .video_element {
    @include breakpoint(medium) {
      @include performy;
      @include object-fit;
    }
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    &.stopfade {
      opacity: 0.5;
    }
  }

  .cell {
    z-index: 2;
    color: #fff;
    p {
      color: #fff !important;
    }
  }

  .centerv {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 32rem;
  }

  .plyr--video {
    @include breakpoint(medium) {
      @include performy;
      @include object-fit;
    }
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
  }

  .text_content {
    position: relative;
    top: 5em;
    z-index: 5;
    color: #fff;
    opacity: 0;
    transition-property: top, opacity;
    transition-duration: 1s;
    transition-delay: 0.75s;
    transition-timing-function: ease-out;
  }

  .triggered & {
    display: block;
    opacity: 1em;
    .video_element,
    .plyr--video,
    .plyr--audio {
      opacity: 1 !important;
    }
    .text_content {
      top: 0;
      opacity: 1;
    }
  }
  .video_element {
    .plyr__controls,
    .plyr__control {
      display: none;
      opacity: 0;
      & > * {
          pointer-events: none;
          cursor: auto;
      }
    }
  }
}

.ambient_video {
  @extend %ambient_video
}
