<div class="ambient_video two_up--primary fluid" style="background-image: url({{ video__poster_image.src }});">
  <div class=" grid-x grid-margin-x">
    <div class="cell medium-4 medium-offset-7">
      <p>{{ video__body_copy }}</p>
    </div>
  </div>
  {#
   Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
   WCAG general accessibility recommendation is that media such as background video play through only once.
   Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
  #}
  <video class="video_element video_player" poster="{{ video__poster_image.src }}" playsinline autoplay muted loop>
    <source src="{{ video__file.src }}.mp4" type="video/mp4">
  </video>

</div>
