{#
  Provides a timeline component.
  Example Usage:
    components:
    - template: "@molecules/timeline/timeline.html.twig"
      title: "The History of Art"
      is_year_span: true
      years:
      - year: "1800"
        year_title: "1800 - 1900"
        year_subtitle: "Lorem Ipsum Dolor"
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur distinctio, dolores earum, esse eveniet in inventore nemo optio soluta sunt, tempora totam! At, excepturi iusto laborum necessitatibus nesciunt veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur distinctio, dolores earum, esse eveniet in inventore nemo optio soluta sunt, tempora totam! At, excepturi iusto laborum necessitatibus nesciunt veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur distinctio, dolores earum, esse eveniet in inventore nemo optio soluta sunt, tempora totam! At, excepturi iusto laborum necessitatibus nesciunt veniam."
        images:
        - src: "https://live-famsf-insights.pantheonsite.io/sites/default/files/laprose/1_la-prose-section-introducing-book.jpg"
          alt: "fubar"
          caption: "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
          style: "square"
        - src: "https://live-famsf-insights.pantheonsite.io/sites/default/files/laprose/1_la-prose-section-introducing-book.jpg"
          alt: "fubar"
          caption: "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
          style: "square"
      - year: "1900"
        year_title: "1900 - 2000"
        year_subtitle: "Lorem Ipsum Dolor"
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur distinctio, dolores earum, esse eveniet in inventore nemo optio soluta sunt, tempora totam! At, excepturi iusto laborum necessitatibus nesciunt veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur distinctio, dolores earum, esse eveniet in inventore nemo optio soluta sunt, tempora totam! At, excepturi iusto laborum necessitatibus nesciunt veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur distinctio, dolores earum, esse eveniet in inventore nemo optio soluta sunt, tempora totam! At, excepturi iusto laborum necessitatibus nesciunt veniam."
        images:
        - src: "https://live-famsf-insights.pantheonsite.io/sites/default/files/laprose/1_la-prose-section-introducing-book.jpg"
          alt: "fubar"
          caption: "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
          style: "square"
        - src: "https://live-famsf-insights.pantheonsite.io/sites/default/files/laprose/1_la-prose-section-introducing-book.jpg"
          alt: "fubar"
          caption: "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
          style: "square"
#}
{% set year_span_class = 'no-year-span' %}
{% if is_year_span == true %}
  {% set year_span_class = 'year-span' %}
{% endif %}
<div class="timeline {{ year_span_class }}">
  <h2 class="timeline-title">{{ title }}</h2>
  {% for year_item in years %}
    {% include '@molecules/timeline/timeline--year.html.twig' with {
      year_title: year_item.year_title,
      year_subtitle: year_item.year_subtitle,
      description: year_item.description,
      images: year_item.images
    } only %}
  {% endfor %}
</div>
