%timeline {
  margin: 70px 35px 20px 30px;
  @include breakpoint(medium) {
    margin-left: 80px;
  }
  @include breakpoint(large) {
    margin-left: 90px;
  }
  .timeline-item-title,
  .timeline-item-subtitle,
  .timeline-item-description,
  .timeline-images {
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  .timeline--year.active {
    .timeline-item-title,
    .timeline-item-subtitle,
    .timeline-item-description,
    .timeline-images {
      opacity: 1;
    }
  }
  .timeline--year {
    border-left: 1px solid $white;
    padding-top: 80px;
    @include breakpoint(large) {
      border-left: none;
      display: flex;
      padding-top: 0;
    }
    &:first-of-type {
      padding-top: 0;
    }
  }
  h2.timeline-title {
    font-family: $alternate-header-font-family;
    padding-bottom: 70px;
    font-size: 1.8em;
    @include breakpoint(large) {
      position: relative;
      top: 25px;
    }
  }
  .timeline-images {
    @include breakpoint(large) {
      display: inline-block;
      width: 30%;
      margin-left: 65px;
    }
  }
  .timeline-item-image {
    padding-bottom: 10px;
    padding-left: 30px;
    @include breakpoint(large) {
      padding-left: 0;
      &:first-of-type {
        margin-top: 60px;
      }
    }
    .caption__brief {
      padding-top: 5px;
    }
  }
  .timeline-item-text {
    padding-left: 30px;
    color: white;
    @include breakpoint(large) {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      padding-left: 10%;
      padding-bottom: 80px;
      margin-left: 12%;
      border-left: none;
      position: relative;
    }
  }
  .timeline-item-title {
    font-family: $body-font-family;
    font-size: 2.5em;
    @include breakpoint(large) {
      font-size: 11.75em;
      line-height: 1;
      margin-top: -35px;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      -moz-border-radius: 7.5px;
      -webkit-border-radius: 7.5px;
      border-radius: 7.5px;
      background-color: $white;
      position: absolute;
      left: 23px;
      margin-top: 18px;;
      @include breakpoint(medium) {
        left: 73px;
      }
      @include breakpoint(large) {
        height: 0;
        width: 0;
      }
    }
  }
  .timeline-item-subtitle {
    font-family: $header-font-family;
    font-style: italic;
    font-size: 1.8em;
        @include breakpoint(large) {
      width: 80%;
    }
  }
  .timeline-item-description {
    font-size: 1.2em;
    padding-bottom: 1em;
    margin-bottom: 0;
    @include breakpoint(large) {
      width: 80%;
    }
  }
  .timeline-year {
    color: $white;
    position: absolute;
    font-size: 1.5em;
    left: -65px;
    top: 43px;
  }
  .timespan-scroller-inner,
  .timespan-scroller-pos {
    transition: all 0.5s ease-out;
  }
  .timespan-scroller {
    @include breakpoint(large) {
      display: none;
      height: 500px;
      width: 200px;
      position: fixed;
      top: 215px;
      left: 40vw;
      color: white;
      overflow: hidden;
    }
  }
  .timespan-scroller-inner {
    @include breakpoint(large) {
      z-index: 0;
      background-color: white;
      width: 1px;
      margin: auto;
      position: relative;
    }
  }
  .span-year {
    @include breakpoint(large) {
      display: block;
      padding-bottom: 250px;
      margin-left: -55px;
      font-size: 1.25em;
    }
  }
  .timespan-scroller-pos {
    width: 3px;
    min-height: 10px;
    background: white;
    position: absolute;
    margin-left: -1px;
  }
  .timeline-item-text {
    @include breakpoint(large) {
      border-left: 0;
      .timeline-year {
        display: none;
      }
      &:before {
        width: 0;
        height: 0;
      }
    }
  }
}
%year-span-timeline {
  .timeline-item-title {
    font-family: $body-font-family;
    @include breakpoint(large) {
      font-size: 5.50em;
      line-height: 1.1;
    }
  }
}
%no-year-span-timeline {
  .timespan-scroller-pos {
    min-height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-left: -7px;
    margin-top: -5px;
  }
}

.timeline {
  @extend %timeline;
  &.year-span {
    @extend %year-span-timeline;
  }
  &.no-year-span {
    @extend %no-year-span-timeline;
  }
}
.triggered {
  .timeline {
    .timespan-scroller {
      @include breakpoint(large) {
        display: block;
      }
    }
  }
}
