/**
 * @file
 * Defines the custom De Young Light theme.
 *
 * When loaded, this file will override the base color scheme.
 */

// Override color scheme variables set in _init.scss
$black: #000000s;
$gray-dark: #3e3e3e;
$gray-medium: #a8abad;
$gray-light: #ececec;
$white: #fff;
$white-10: rgba($white, .1);
$white-20: rgba($white, .2);
$white-30: rgba($white, .3);
$white-60: rgba($white, .6);

// oranges
$sunshine: #ffedbd;
$sherbet: #fcb275;
$citrus: #e58638;
$orange: #c14c2d;
$clay: #bc432f;
$rust: #bc3c2f;
$earth: #b7342a;

// red
$red: #a83223;

// blues
$blue: #72b9c1;
$blue-70: #9cced4;
$blue-60: #aad5da;
// Override this blue with Teo teal!
$blue-40: #2a9a9a;
// Override another blue
$blue-30: rgba(#2a9a9a, 0.4);
$blue-20: #e3f1f3;
$blue-10: #edf6f7;

// greens
$green: #005244;
$forest: #4c867c;
$sage: #b2cbc7;
$mint: #e5eeec;

// yellows
$yellow: #efe36e;
$yellow-70: #f4eb99;
$yellow-50: #f7f1b6;
$yellow-30: #faf7d3;

// teals
$seafoam: #bacdce;
$teal: #36545b;
$blue-gray: #213538;
$blue-black: #0f1616;

// Teo-specific palette

$teo-tan: #f6efe2;
$teo-orange: #e27d3b;
$teo-blue: #56a8c8;
$teo-teal: #2a9a9a;
$teo-red: #b93445;
$teo-gray: #58595b;

$background-a: $teo-tan;
$background-b: $teo-tan;
$background-c: $teo-teal;
$background-d: $teo-teal;
$pattern-a: $white;
$pattern-b: $teo-gray;
$border: $teo-orange;
$text-color: $gray-dark;
$text-color-invert: $white;
$primary: $teo-red;
$primary-active: $teo-orange;
$secondary: $teo-red;
$tertiary: $teo-teal;
$citation: $teo-teal;
$hero-color: $white;



$decorative-border: null; // Needed for Safari.
$decorative-border-width: 2px;
$decorative-border-style: solid;
$decorative-border-color: rgba($teo-gray, 0.5);
$decorative-border-image: null;
$rectangles-border: url('../../../imgs/deyoung-rectangles-light.png');
$zoom-background: $teo-tan;
$text-shadow-color: null;
$hero-content-text: $gray-dark;
$hero-content-text-active: $black;

$section-hero-text: $white;
$section-hero-shadow: $citrus;
$section-hero-shadow-b: $orange;
$section-hero-border-a: $yellow;
$section-hero-border-b: $rust;

$next-icon: $teo-red;
$next-icon-active: $teo-orange;

// icons
$icon: $teo-red;
$icon-active: $teo-orange;
$icon-stroke: null;
$icon-stroke-active: null;

// Let's override the footer some more, shall we?

.footer {
  color: $white;

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $teo-tan !important;
  }
}

.section-hero__title--bold,
.site-hero__title--bold {

  h1 {
    text-shadow: 0 1px 7px #2a2a2a !important;
    font-family: "Roboto" !important;
  }

  .animated-border--top,
  .animated-border--bottom {
    display: none !important;
  }

}

.site-hero__title--bold {

  .site-hero__logo,
  h2 {
    background-color: transparent !important;
    text-shadow: 0 1px 7px #2a2a2a !important;
    font-family: "Roboto" !important;
    font-weight: 700 !important;
    padding: 0 !important;
    margin-top: 0 !important;
  }

  h2.ds-identity {
    font-weight: 300 !important;
    font-size: 1.52em !important;
  }

  a:link {
    padding: 0 !important;
  }

  h1 {
    text-transform: uppercase !important;
    letter-spacing: .6px !important;
    line-height: 1em !important;
    font-size: 3.65em !important;
  }

}

.bottom-right.section-hero__title--bold,
.bottom-left.section-hero__title--bold {
  padding: 0 !important;

}

.horizontal-slider__wrapper,
.deep-dive {
  box-shadow: none !important;
}

.cls-2 {
  stroke-width: 0 !important;
}

.button-with-icon {

  &:active,
  &:hover,
  &:focus {
    color: $white !important;
  }

}

// Import theme specific components used in global
// @import 'deyoung-section-hero';

// Import the global theme styles.
@import '../../global';

// Import theme specific components
@import 'deyoung-typography';
@import 'deyoung-wysiwyg';
@import 'deyoung-figure';
@import 'deyoung-icons';
@import 'deyoung-light-adjustments';
