/**
 * @file
 * Defines the custom De Young Dark theme.
 *
 * When loaded, this file will override the base color scheme.
 */

// Override color scheme variables set in _init.scss
$black: #000;
$gray-dark: #3e3e3e;
$gray-medium: #a8abad;
$gray-light: #ececec;
$white: #fff;
$white-10: rgba($white, .1);
$white-20: rgba($white, .2);
$white-30: rgba($white, .3);
$white-60: rgba($white, .6);

// oranges
$sunshine: #ffedbd;
$sherbet: #fcb275;
$citrus: #e58638;
$orange: #c14c2d;
$clay: #bc3c2f;
$rust: #b7342a;
$earth: #a0201a;

// red
$red: #a83223;

// blues
$blue: #72b9c1;
$blue-70: #9cced4;
$blue-40: #c7e3e6;
$blue-30: #d5eaec;
$blue-20: #e3f1f3;

// greens
$green: #005244;
$forest: #4c867c;
$sage: #b2cbc7;
$mint: #e5eeec;

// yellows
$yellow: #efe36e;
$yellow-70: #f4eb99;
$yellow-50: #f7f1b6;
$yellow-30: #faf7d3;

// teals
$seafoam: #bacdce;
$teal: #36545b;
$blue-gray: #213538;
$blue-black: #0f1616;

$background-a: $white;
$background-b: $gray-light;
$background-c: $mint;
$background-d: $sage;
$pattern-a: $forest;
$pattern-b: $mint;
$border: $green;
$text-color: $gray-dark;
$text-color-invert: $white;
$primary: $blue-gray;
$primary-active: $teal;
$secondary: $forest;
$tertiary: $gray-dark;
$citation: $gray-dark;
$hero-color: $white;

// $border: $sherbet;
$decorative-border: 2px solid $forest;
$decorative-border-image: null;
$rectangles-border: url('../../../imgs/deyoung-rectangles-dark.svg');
$zoom-background: $white;
$text-shadow-color: $sage;
$hero-content-text: $gray-dark;
$hero-content-text-active: $black;

$section-hero-text: $white;
$section-hero-shadow: $green;
$section-hero-shadow-b: $forest;
$section-hero-border-a: $sage;
$section-hero-border-b: $forest;

// Import theme specific components used in global
@import 'deyoung-section-hero';

// Import the global theme styles.
@import '../../global';

// Import theme specific components
@import 'deyoung-typography';
@import 'deyoung-wysiwyg';
@import 'deyoung-figure';
