%off-canvas {
  padding-top: 4rem;

  .footer__cta__wrapper {
    display: none;
  }

  .off-canvas__buttons {
    .button,
    button {
      background: $white;
      color: $black;
    }
  }
}

.off-canvas {
  @extend %off-canvas;
}
