%off-canvas {
  padding-top: 4rem;

  .footer__cta__wrapper {
    display: none;
  }

  .off-canvas__buttons {
    .button,
    button {
      background: $white;
      color: $black;
    }
  }

  .cover_page {
    .underlay {
      .underlay_contents {
        h1.headline {
          color: #fff;
        }
      }
    }
  }
}

.off-canvas {
  @extend %off-canvas;
}
