<div class="off-canvas position-right" id="off-canvas" data-off-canvas data-transition="push">
  {% include '@molecules/CoverPage/CoverPageForMenu.html.twig' with { title: title } only %}

  {% if tickets_url %}
    <div class="off-canvas__buttons text-center">
      {% include '@atoms/button/button.html.twig' with { text: 'Buy Tickets', href: tickets_url } only %}
    </div>
  {%  endif %}

  {% include '@molecules/menu--mobile/menu--mobile.html.twig' with { chapters: chapters } only %}
  {% include '@organisms/Footer/Footer.html.twig' with { sections: sections, classes: classes } only %}
</div>
