<div class="off-canvas position-right" id="off-canvas" data-off-canvas data-transition="push">
  {% include '@molecules/menu--mobile/menu--mobile.html.twig' with { chapters: chapters } only %}
  {% include '@molecules/Footer/Footer.html.twig' %}
</div>
