<div class="two_up--primary fluid ">
  <div class="wrapper grid-x grid-margin-x " id="{{slug}}">
    {% for column in children %}
      <div id="" class="cell medium-4 {% if loop.first %}medium-offset-2{% endif %}">
        {% for component in column.children %}
          {% if 'picture--captioned' in templateMap[component.template_id] %}
            {% set component = component|merge({
              picture: {
                src: component.content__image.src,
                alt: component.content__image.alt
              },
              caption: {
                id: component.slug ~ '_caption',
                brief: component.caption__brief,
                text: component.caption__text
              }
            }) %}
          {% elseif 'content--simple' in templateMap[component.template_id] %}
            {% set component = component|merge({
              title: component.content__title,
              body: component.content__body,
              quote: component.content__quote,
              attribution: content.content__attribution,
              cta: content.content__cta__button
            }) %}
          {% endif %}
          {% include templateMap[component.template_id] with component only %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
