/*
Chapter title

Cover pages for chapters

Markup: chapter__title.html.twig
*/

%chapter__title {

  .object-fit  {
    @extend %object-fit;
    object-position: 50% 50%;
    font-family: 'object-fit: contain;object-position: 50% 50%';
    position: absolute;
  }

  .trigger & .object-fit {
    animation-name: kenburns--sonja;
    animation-duration: 1.25s;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }


  .overlay {
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .chapter__headline {

    color: white;

    .numeral,
    .title {
      display: block;
      text-align: center;
    }

    .numeral {
      font-size: 10rem;
      color: white;
    }

    .title {
      font-size: 3.125rem;
    }
  }
}

.chapter__title {
  @extend %chapter__title
}

@keyframes kenburns--sonja {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
