/*
Chapter title

Cover pages for chapters

Markup: chapter__title.html.twig
*/

%chapter__title {

  .object-fit  {
    @extend %object-fit;
    object-position: 50% 50%;
    font-family: 'object-fit: contain; object-position: 50% 50%';
    position: absolute;
  }

  .overlay {
    @extend %performy;
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    display: none;
    opacity: 0;
    transform: translate3d(-50%, -40%, 0);
    transition-property: transform, opacity;
    transition-duration: 1.875s;
    transition-timing-function: ease-out;
  }

  .triggered & {
    .object-fit {
      animation-name: kenburns--sonja;
      animation-duration: 1.325s;
      animation-timing-function: ease-in-out;
      animation-direction: normal;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
    .overlay {
      display: block;
      animation-name: fadein;
      animation-duration: 1.325s;
      animation-timing-function: ease-out;
      animation-direction: normal;
      animation-delay: 0.25s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }


  .chapter__headline {

    color: white;

    .numeral,
    .title {
      display: block;
      text-align: center;
    }

    .numeral {
      font-size: 10rem;
      color: white;
    }

    .title {
      font-size: 3.125rem;
    }
  }
}

.chapter__title {
  @extend %chapter__title;
}


@keyframes kenburns--sonja {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -30%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
}
