<div class="chapter__title">

  <img src="{{ fullData['Content_Background-Image'] }}" class="object-fit" alt="{{ fullData['Content_Background-ImageAlt'] }}">

  <div class="overlay">
    <div class="overlay__contents">
      <h1 class="chapter__headline">
        <span class="numeral">{{ fullData.Content_Numeral }}</span>
        <span class="title">{{ fullData['Content_Chapter-Title'] }}</span>
      </h1>
    </div>
  </div>

</div>
