<div class="chapter__title" data-snap-id={{ snap_id }}>

  {% include '@atoms/img/img.html.twig' with img|merge({ classes: img.classes ~ " object-fit", style: 'full-screen' }) %}

  <div class="overlay">
    <div class="overlay__contents">
      <h1 class="chapter__headline">
        <span class="numeral">{{ numeral }}</span>
        <span class="title">{{ title }}</span>
      </h1>
    </div>
  </div>

  {% if caption %}
    {% include "@atoms/caption/caption.html.twig" with caption only %}
  {% endif %}

</div>
