<div class="chapter__title">

  <img
    src="/assets/images/Portrait-of-Sonja-Knips.jpg"
    class="object-fit"
    alt="An alt tag…"
  >

  <div class="overlay">
    <div class="overlay__contents">
      <h1 class="chapter__headline">
        <span class="chapter__number">II</span>
        <span class="solid">In Search of Modernity</span>
      </h1>
    </div>
  </div>

</div>
