<div class="chapter__title">

  {% include '@atoms/img/img.html.twig' with img|merge({ classes: img.classes ~ " object-fit", style: 'full-screen' }) %}

  <div class="overlay">
    <div class="overlay__contents">
      <h1 class="chapter__headline">
        <span class="numeral">{{ numeral }}</span>
        <span class="title">{{ title }}</span>
      </h1>
    </div>
  </div>

</div>
