<div class="chapter__title">

  <img src="{{ background__image.src }}" class="object-fit" alt="{{ background__image.alt }}">

  <div class="overlay">
    <div class="overlay__contents">
      <h1 class="chapter__headline">
        <span class="numeral">{{ chapter__numeral }}</span>
        <span class="title">{{ chapter__title }}</span>
      </h1>
    </div>
  </div>

</div>
