<div class="chapter__title">

  <img src="{{ img.url }}" class="object-fit" alt="{{ img.alt }}">

  <div class="overlay">
    <div class="overlay__contents">
      <h1 class="chapter__headline">
        <span class="numeral">{{ numeral }}</span>
        <span class="title">{{ title }}</span>
      </h1>
    </div>
  </div>

</div>
