/*
Standalone Quote

Standalone quotes are used to reinforce a theme or are from a notable source. They should act as a breather moment in the design and help establish the tone.

Markup: standalone-quote.html.twig

.size--large - Large type variant

Styleguide COMPONENTS.standalone-quote

*/

%standalone-quote {
  @extend .text-center;
  margin: 2rem;
  position: relative;
  max-width: 75rem;
  margin: auto;

  q {
    @extend %q;
    color: $primary-color;
    display: block;
    font-family: $header-font-family;
    margin: 3rem 0;
    font-size: 2em;

    line-height: 1.125em;
    p {
      line-height: 1.125em;
    }

    @include breakpoint(medium) {
      font-size: 3.75em;
    }

    &:before,
    &:after {
      display: none;
    }
  }

  cite {
    @extend %cite;
    color: $black;
    font-size: 1.5em;

    @include breakpoint(medium) {
      font-size: 1.75em;
    }
  }

  .standalone-quote__social-links > .sharing-icons {
    margin: 1rem 0 0 0;
    justify-content: center;
  }

  &.size--large {
    q {
      font-size: 3em;

      @include breakpoint(medium) {
        font-size: 6em;
      }
    }
  }

  .theme--primary-dark & {
    q,
    cite  {
      color: $white;
    }
  }
}

.standalone-quote {
  @extend %standalone-quote;
}
