/*
Standalone Quote

Standalone quotes are used to reinforce a theme or are from a notable source. They should act as a breather moment in the design and help establish the tone.

Markup: standalone-quote.html.twig

.size--large - Large type variant

Styleguide COMPONENTS.standalone-quote

*/

%standalone-quote {
  @extend .text-center;
  margin: 2rem;
  position: relative;
  max-width: 75rem;
  margin: auto;

  q {
    @extend %q;
    @include font-sizes(30, 60);
    @include responsive(line-height, 40px, 70px);
    color: $primary-color;
    display: block;
    font-family: $header-font-family;
    margin: 3rem 0;
    line-height: 1.125em;
    p {
      line-height: 1.125em;
    }

    &:before,
    &:after {
      display: none;
    }
  }

  cite {
    @extend %cite;
    @include font-sizes(18);
    color: $black;
  }

  .standalone-quote__social-links > .sharing-icons {
    margin: 1rem 0 0 0;
    justify-content: center;
  }

  &.size--large {
    q {
      @include font-sizes(45, 85);
      @include responsive(line-height, 50px, 90px);
    }
  }

  .theme--primary-dark & {
    q,
    cite  {
      color: $white;
    }
  }
}

.standalone-quote {
  @extend %standalone-quote;
}
