/*
In Depth

This is used to show additional information that is related to the content in the chapter but not necessary to show the user. This content is often shareable, fun, digestible "Did you know?" type content.

Markup: in-depth.html.twig

Styleguide COMPONENTS.in-depth

*/

%in-depth {
  display: flex;
  align-items: center;
  height: 100vh;

  @include breakpoint(medium) {
    padding: 0;
  }

  .in-depth__intro {
    width: 100%;
    min-height: auto !important;
  }

  .in-depth__image {
    img {
      border-radius: 1000rem;
      overflow: hidden;
    }
  }

  .in-depth__title {
    @extend h1;
    font-size: 2rem;
    font-weight: bold;

    @include breakpoint(medium) {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    @include breakpoint(large) {
      font-size: 4rem;
      margin-bottom: 4rem;
    }
  }

  .in-depth__left-col {
    position: relative;
    z-index: 5;
  }

  .in-depth__right-col {
    position: relative;
    z-index: 10;
    transform: translate(0, -4rem);
    padding: 0 2rem;

    @include breakpoint(medium) {
      padding: 0;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      transform: translate(-2rem, 0);
    }

    @include breakpoint(large) {
      transform: translate(-4rem, 0);
    }

    @include breakpoint(xlarge) {
      transform: translate(-6rem, 0);
    }

    @include breakpoint(xxlarge) {
      transform: translate(-8rem, 0);
    }
  }

  // Theme overrides.
  .theme--dark &,
  &.theme--dark {
    .in-depth__title {
      color: $white;
    }
  }
}

%in-depth-modal {
  .horizontal-image-slider {
    @extend %horizontal-image-slider;
    position: absolute;
    height: auto;
    padding: 0;

    @include breakpoint(medium) {
      height: 100vh;
    }

    .owl-stage-outer {
      @include breakpoint(medium) {
        padding: 0;
      }
    }

    .item__content {
      margin: 2rem;

      @include breakpoint(medium) {
        margin: 0;
        display: flex !important;
        flex-flow: row nowrap !important;;
        align-items: center !important;;

        > * {
          flex-grow: 1;
        }
      }

      > picture {
        width: 100% !important;

        @include breakpoint(medium) {
          flex-basis: 75%;
          height: 100vh;
          min-height: 100vh;
          width: auto !important;
          position: relative;

          &:before {
            position: absolute;
            top: 0;
            right: 0;
            width: calc(100% / 3);
            height: 100%;
            content: '';
            background: linear-gradient(to right, transparent, $black);
            z-index: 9;
          }
        }

        img {
          @extend %object-fit;

          @include breakpoint(small down) {
            position: relative;
            height: auto;
            width: 100%;
            object-fit: initial !important;
            background-size: initial !important;
          }

          @include breakpoint(medium) {
            max-height: 100vh;
            min-height: 100vh;
          }
        }
      }
    }

    .caption {
      position: relative;

      @include breakpoint(medium) {
        flex-basis: 25%;
        position: relative;
        margin: 4rem 12rem;
      }
    }

    .caption__brief {
      @extend .lead;

      @include breakpoint(small down) {
        font-size: $base-font-size !important;
      }
    }

    .owl-nav {
      button {
        top: calc(50% - 1.25rem);
      }
    }
  }
}

.in-depth {
  @extend %in-depth;
}

.in-depth-modal {
  @extend %in-depth-modal;
}
