<div class="in-depth {{ classes }}">
  <div class="grid-x in-depth__intro">
    <div class="cell medium-5 medium-offset-1 large-4 large-offset-3 xlarge-4 xlarge-offset-3 in-depth__left-col">
      <div class="in-depth__image">
        {% include "@molecules/picture/picture.html.twig" with slideshow__image only %}
      </div>
    </div>
    <div class="cell medium-5 large-4 xxlarge-3 in-depth__right-col">
      <h3 class="in-depth__title">{{ slideshow__title }}</h3>
      {% include "@atoms/modal__open-button/modal__open-button.html.twig" with { id: 'indepth_'~slug, text: slideshow__cta } only %}
    </div>
  </div>
  {% include "@organisms/in-depth__modal/in-depth__modal.html.twig" with _context|merge({
    slug: 'indepth_'~slug,
    children: children,
    templateMap: templateMap,
    intro: {
      text: slideshow__description,
      title: slideshow__title,
      picture: slideshow__image
    }
  }) only %}
</div>
