<div class="in-depth-slider {{ classes }}" data-snap-id="{{ snap_id }}">
  {% include "@organisms/horizontal-image-slider/horizontal-image-slider.html.twig" %}
  
  <button class="in-depth__toggle close-button button hollow" type="button">
    <span class="close-button__icon" aria-hidden="true">&times;</span><span class="close-button__text">Close</span>
  </button>
</div>
