%menu--mobile {
  color: $white;
  padding: 1rem;
  border-bottom: 2px solid rgba($white, .25);

  h3 {
    font-family: $header-font-family;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 1rem;
  }

  .menu--mobile {
    li {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 2rem);
        margin: 0 1rem;
        height: 1px;
        background-color: rgba($white, .25);
      }

      &:last-of-type,
      &.active_item {
        &::after {
          display: none;
        }
      }

      &.active_item a {
        background-color: $primary-color;
      }
    }

    a {
      @include remove-outline();
      display: flex;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem;
      color: $white;
    }

    .menu--mobile__numeral {
      display: inline-block;
      flex-basis: 3rem;
      opacity: .5;
    }

    .menu--mobile__title {
      font-style: italic;
      flex-basis: calc(100% - 3rem);
    }
  }
}

nav#mobile_nav {
  @extend %menu--mobile;
}
