$pages: 1 2 3 4;
$chapters: 1 2 3;
$colors: #000 #000 #000;

$screen-xs: 340px;
$screen-sm: 650px;
$screen-md: 1000px;
$screen-lg: 1350px;
$screen-xl: 1600px;

@each $chapter in $chapters {
  .chapter:nth-child( #{$chapter} ) {
    background-color: nth($colors, $chapter);
    @each $page in $pages {
      .page:nth-child(#{$page}) {
        background-color: darken( nth($colors, $chapter), 10*$page);
      }
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

%performy {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}

.revealit {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1.75s;
  transition-delay: 0.25s;
  transition-timing-function: ease-in-out;
}

.in-viewport .revealit {
  opacity: 1;
}

.cover {
  @extend %performy;
  border-top: 1px #fc0 solid;
  border-bottom: 1px #ccc solid;
  background-color: #222;
}

.chapter {
  border-bottom: 1px #f00 solid;
  border-top: 1px #f00 solid;
}

.chapter,
.page {
  position: relative;
}

.page {
  z-index: 1;
  top: 0;
  padding: 0;
  margin: 0;
  height: 100vh;
  h2 {
    margin-top: 0;
  }
}

.page-title {
  font-size: 2.25em;
  color: #666;
  font-weight: 600;
  font-family: freight-display-pro;
  font-style: italic;
}

.cover.page {
  position: absolute;
  z-index: 100;
  width: 100%;
  box-shadow: 0 3px 12px rgba(#000,0.3);
}

.big-type {
  color: #fff;
  margin-top: 1em;
  font-size: 2em;
  line-height: 1.2;
  @media (min-width: 500px) {
    font-size: 2.5em;
  }
  @media (min-width: 800px) {
    font-size: 3em;
  }
}

.page__content {
  padding: 7em 4em 3em 4em;
  height: 100vh;
  box-sizing: border-box;
  outline-offset: -1px;
  color: #666;
  @media (min-width: $screen-sm) {
    padding-top: 5em;
    max-width: 55em;
    margin: 0 auto;
  }
}

.page.wide .page__content {
  @media (min-width: $screen-sm) {
    padding-top: 5em;
    max-width: 100%;
    margin: 0 auto;
  }
}

.entering {
  box-sizing: border-box;
  .page__content {
    outline: 1px #fff solid;
  }
}

.in-viewport {
  outline-offset: -1px;
  outline: 2px #f30 solid;
}

.currentPage {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100vw;
  outline: 1px #f30 solid;
}
