$pages: 1 2 3 4;
$chapters: 1 2 3;
$colors: #000 #000 #000;

$screen-xs: 340px;
$screen-sm: 650px;
$screen-md: 1000px;
$screen-lg: 1350px;
$screen-xl: 1600px;

html,
body {
  padding: 0;
  margin: 0;
}

%performy {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}

.in-viewport .revealit {
  opacity: 1;
}

.cover {
  @extend %performy;
}

.chapter,
.page {
  position: relative;
}
