%caption {
  margin-bottom: 1rem;

  .caption__brief {
    display: inline-block;
    line-height: 1.75rem;
  }

  .toggle-caption {
    margin: 0 0 0 .5rem;
    padding: .125rem;
    height: 1.75rem;
    width: 1.75rem;
    font-size: 1em;
  }

  figcaption {
    display: block;
    background-color: $light-gray;
    padding: 2rem;
    margin-top: .5rem;
  }
}

.caption {
  @extend %caption;
}
