<div class="caption">
  <button data-toggle="{{ id }}" class="button icon hollow toggle-caption">
    <i class="fas fa-ellipsis-h"></i>
    <span class="show-for-sr">Toggle Caption</span>
  </button>

  <figurecaption id="{{ id }}">
    {{ text }}
  </figurecaption>
</div>
