<div class="caption">
  <a data-toggle="{{ id }}" class="button icon hollow toggle-caption">
    <i class="fas fa-ellipsis-h"></i>
    <span class="show-for-sr">Toggle Caption</span>
  </a>

  <figurecaption style="display: none;" id="{{ id }}" data-toggler data-animate="fade-in fade-out">
    {{ text }}
  </figurecaption>
</div>
