<div class="caption">
    <div class="caption__brief">
      {{ brief }}
      <a data-toggle="{{ id }}" class="button icon hollow toggle-caption">
        <i class="fas fa-ellipsis-h"></i>
        <span class="show-for-sr">Toggle Caption</span>
      </a>
    </div>

  <figcaption style="display: none;" id="{{ id }}" data-toggler data-animate="fade-in fade-out">
    {{ text }}
  </figcaption>
</div>
