{% set unique = 'uq' ~ random() %}
<div class="caption">
  <div class="caption__brief">
    {{ brief|striptags('<a><i><em><b><strong><u>') }}
    {% if id and text|striptags|length > 2 %}
      <a data-toggle="{{ id ~ unique }}" class="button icon hollow toggle-caption">
        <span class="i-info" aria-hidden="true">i</span>
        <span class="show-for-sr">Toggle Caption</span>
      </a>
    {% endif %}
  </div>
  {% if id %}
    <figcaption style="display: none;" id="{{ id ~ unique }}" data-toggler data-animate="fade-in fade-out">
      {{ text|striptags('<a><i><em><b><strong><u>') }}
    </figcaption>
  {% endif %}
</div>
