<div class="video-overlay">
  {% if overlay__title %}
    {% include "@atoms/h4/h4.html.twig" with { text: overlay__title, classes: "video-overlay__title" } only %}
  {% endif %}

  {% if overlay__text %}
    <div class="video-overlay__text">
      {{ overlay__text }}{% if caption %}
        {% include "@atoms/caption/caption.html.twig" with caption only %}
      {% endif %}
    </div>
  {% endif %}
</div>
