<h1>{{ chapters|length }}</h1>
{% for chapter in chapters %}
  {%
    include "@organisms/Chapter/Chapter.html.twig" with chapter|merge({
      story__title: story__title,
      story__subtitle: story__subtitle,
      index: loop.index0,
    }) only
  %}
{% endfor %}
