<div id="slider" class="beer-slider" id={{ sliderId }} data-id="{{ id }}" data-start="{{ startPosition }}">
  {#
    This conditional is a workaround for a GC bug where asset fields where
    an asset was previously deleted, still return an array of assets including
    previously deleted items rather than just the single asset currently
    in the field.
  #}
  {% if comp__1__image[comp__1__image|length - 1].src %}
    {% set comp__1__image = comp__1__image[0] %}
  {% endif %}

  {% if comp__2__image[comp__2__image|length - 1].src %}
    {% set comp__2__image = comp__2__image[0] %}
  {% endif %}

  {% include "@atoms/img/img.html.twig" with {
    src: comp__1__image.src,
    url: comp__1__image.src,
    alt: comp__1__image.alt,
    style: 'default'
  } %}
  <div class="beer-reveal">
    {% include "@atoms/img/img.html.twig" with {
      src: comp__2__image.src,
      url: comp__2__image.src,
      alt: comp__2__image.alt,
      style: 'default'
    } %}
  </div>
</div>

{% if caption %}
  {% include "@atoms/caption/caption.html.twig" with caption only %}
{% endif %}
