<div id="slider" class="beer-slider">
  {% include "@atoms/img/img.html.twig" with {
    src: imageOne.src,
    url: imageOne.src,
    alt: imageOne.alt,
    style: 'default'
  } %}
  <div class="beer-reveal">
    {% include "@atoms/img/img.html.twig" with {
      src: imageTwo.src,
      url: imageTwo.src,
      alt: imageTwo.alt,
      style: 'default'
  } %}
  </div>
</div>