<div id="slider" class="beer-slider">
  <img src="{{ imageOne.src }}" alt="{{ imageOne.alt }}" />
  <div class="beer-reveal">
    <img src="{{ imageTwo.src }}" alt="{{ imageTwo.alt }}" />
  </div>
</div>