/*

Video Embed

Ten col, 'full width' video

Markup: video--embed.html.twig

*/

.plyr__control {
  path {
    fill: $white;
  }
}

.plyr__controls {
  background: transparent !important;
}

.plyr__control:hover {
  background-color: #fff !important;
  path {
    fill: $black !important;
  }
}

.video--embed  {

  position: relative;
  // @include object-fit;
  @include breakpoint(medium) {
    height: 100vh;
    overflow: hidden;
    background-size: cover;    
  }

  .video--embed__wrapper {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.325s;
    transition-timing-function: ease-out;
  }

  .plyr--full-ui input[type=range] {
    height: 0.25rem;
    color: #fff !important;
    .plyr__progress__buffer {
      box-shadow: none;
    }
  }

  .plyr-video {
    max-height: 100vh;
  }

  .plyr--video .plyr__controls {
    position: fixed;
    visibility: hidden;
    bottom: 2em;
  }

  .triggered & {
    .video--embed__wrapper {
      opacity: 1;
    }
    .plyr--video .plyr__controls {
      opacity: 1;
      background: none;
      padding-left: 16.6667%;
      padding-right: 16.6667%;
      top: auto;
      height: 3em;
      width: 100%;
    }
  }

  .plyr__video-wrapper {
    background: $white;
    height: 100vh;
    .icon--not-pressed {
      path {
        fill: $black !important;
      }
    }
  }

  &.theme--dark .plyr__video-wrapper {
    background: $black;
    .icon--not-pressed {
      path {
        fill: $white;
      }
    }
  }
  .plyr__poster {
    background-size: cover;
  }

}
.video--embed.file {
  .plyr__poster,
  .plyr--video .plyr--video,
  .plyr--video video {
    @include object-fit;
  }
}
