<div class="video--embed" style="background-image: url({{ video__poster_image }});">
  <div class="video--embed__wrapper">
    <div class="plyr_target video_player youtube" data-plyr-provider="youtube" id="{{ id }}_vid" data-plyr-embed-id="{{ video__id }}" data-poster="{{ video__poster_image  }}"></div>
  </div>
</div>
