<div class="video--embed" style="background-image: url({{ fullData[Content_Poster-Image] }});">
  <div class="video--embed__wrapper">
    <div class="plyr_target video_player youtube" data-plyr-provider="youtube" id="{{ id }}_vid" data-plyr-embed-id="{{ fullData['Content_Video-Id'] }}" data-poster="{{ fullData[Content_Poster-Image] }}"></div>
  </div>
</div>
