<div class="transcript">
  {% if title %}
    {% include "@atoms/h4/h4.html.twig" with { text: title, classes: "transcript__title" } only %}
  {% endif %}

  {% if brief %}
    <div class="transcript__brief">
      {{ brief }}
    </div>
  {% endif %}

  {% if id %}
    <a href="#" class="transcript__toggle button">
      <span style="display:block;">{{ button_text|striptags }}</span>
    </a>

    <div class="transcript__text" style="visibility: hidden;">
      {{ text }}
    </div>
  {% endif %}
</div>
