{% import "@macros/inklude.html.twig" as inklu %}
<div class="item {{ intro_slide ? 'intro-slide' }}">
  <div class="item__content">
    {{ inklu.de(components) }}
    {% if caption %}
      {% include "@atoms/caption/caption.html.twig" with caption only %}
    {% endif %}
    {% if intro_slide %}
      {% include "@atoms/slide__icon--next/slide__icon--next.html.twig" %}
    {% endif %}
  </div>
</div>
