{% import "@macros/inklude.html.twig" as inklude %}
<div class="item">
  {{ inklude.components(_context) }}
  {% if caption %}
    {% include "@atoms/caption/caption.html.twig" with {brief: caption.brief, id: caption.id, text: caption.text} only %}
  {% endif %}
</div>
