%slide__icon--next {
  margin: 2rem 0 0 0;
  position: relative;
  transform: translateX(-5px);

  &:before {
    height: 1px;
    width: 5rem;
    content: "";
    position: relative;
    background: $white;
    right: -5px;
    top: calc(-1rem + 1px);
    display: inline-block;
    z-index: 9999;
    opacity: .5;
  }

  svg {
    max-width: 100%;
    height: 2rem;
    width: auto;

    &:before {
      height: 1px;
      width: 10rem;
      content: "";
    }

    &:hover {
      cursor: pointer;
    }
  }

  path {
    fill: $white;
    stroke: $white;
  }
}

.slide__icon--next {
  @extend %slide__icon--next;
}
