%slide__icon--next {
  margin: 3rem 0 0 0;

  svg {
    max-width: 100%;
    width: 7rem;
    height: auto;
  }

  path {
    fill: $white;
    stroke: $white;
  }
}

.slide__icon--next {
  @extend %slide__icon--next;
}
