html,
body {
  padding: 0;
  margin: 0;
}

.grid-x {
  min-height: 100vh;
  padding: 2rem;

  @include breakpoint(medium) {
    padding: 5rem;
  }

  &.align-middle {
    padding: 4rem 2rem 2rem 2rem;

    @include breakpoint(medium) {
      padding: 8rem 5rem 5rem 5rem;
    }
  }
}
