/*

Video Embed

Ten col, 'full width' video

Markup: video--embed.html.twig

*/

.plyr__control {
  path {
    fill: $white;
  }
}

.plyr__control:hover {
  background-color: #fff !important;
  path {
    fill: $black !important;
  }
}

.video--embed  {
  @include object-fit;
  background-color: #000;
  position: relative;
  video {
    width: 100%;
  }

  .plyr--full-ui input[type=range] {
    height: 0.25rem;
    color: #fff !important;
    .plyr__progress__buffer {
      box-shadow: none;
    }
  }

  .video--embed__controls {
    position: absolute;
    bottom: 0;
    height: 3em;
    width: 100%;
  }
}
