<div class="video--embed responsive-embed">
  <video poster="/assets/images/video/rodin.jpg" id="bgvid" playsinline autoplay muted {# loop #}>
    <source src="https://doc-0o-6o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/sopr520vg986s6hnp3uj2s45pes4kilb/1529337600000/05791871818971148396/*/1lXIwBDY9-20uzT-GR2aMLrF3j4X20pRa" type="video/webm">
    <source src="https://doc-0o-6o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/sopr520vg986s6hnp3uj2s45pes4kilb/1529337600000/05791871818971148396/*/1lXIwBDY9-20uzT-GR2aMLrF3j4X20pRa" type="video/m4v">
  </video>
  <div id="video-controls" class="video--embed__controls">
    <button type="button" class="play-pause">Play</button>
    <input type="range" class="seek-bar" value="0">
    <div class="currentTime"></div>
{#    <button type="button" class="mute">Mute</button> #}
{#    <input type="range" class="volume-bar" min="0" max="1" step="0.1" value="1"> #}
{#    <button type="button" class="full-screen">Full-Screen</button> #}
  </div>
</div>
