.other-stories {
    
  h3 {
    color: $black;
    text-align: center;
    margin-bottom: .5rem;
  } 
  
  .large-up-2 {
    display: flex;
    justify-content: center;
  }
  
  button.cta {
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 1.3rem;
  }
  
  .hub-story {
    margin: 25px;
    @include breakpoint(medium) {
      display: inline-block;
      vertical-align: top;
      width: 30%;
      margin: 25px 1% 25px 1%;
    }
    .story-image {
      position: relative;
    }
    .on-view-story {
      right: 15px;
      top: 15px;
      background-color: #0090a0;
    }
    .story-title {
      margin-top: 25px;
      margin-bottom: 0;
      text-align: center;
      font-size: 1.5em;
      p {
        margin-bottom: 0;
      }
    }
    .story-subtitle {
      font-family: $header-font-family;
      font-style: italic;
      text-align: center;
      display: block;
      font-size: 1.5em;
      font-weight: 700;
      color: $dark-gray;
    }
    .read-link-wrapper {
      text-align: center;
      margin-top: 12px;
      a {
        color: black;
        font-family: $alternate-header-font-family;
        &::after {
          margin-left: .5rem;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f061";
        }
      }
    }
  }
}